nav input,.custHideHpSection{
  display: none;
}
.navbar.w-nav{
  background: #fff !important;
}

.nav-menu-wrapper .div-block .navlink,
.navbar.w-nav .nav-menu-links a,
.navbar.w-nav .nav-menu-links .navlink div{
  color: #000 !important;
}

.navbar.w-nav .nav-menu-links .navlink.w-dropdown-toggle img{
  filter: invert(0) !important;
}
.navbar.w-nav .brand img.logo-1,
.nav-wrapper .brand img.logo-1{
  display: none !important;
  opacity: 0 !important;
}
.navbar.w-nav .brand img.logo-2,
.nav-wrapper .brand img.logo-2{
  display: block !important;
  opacity: 1 !important;
}

#Features,
#Features .section.grey.wf-section{
  display: none;
}
.custInstitutionalPriceCarousel {
  display: flex;
  gap: 20px;
  margin: 0;
  border-bottom: 0px solid #ffff;
  padding: 40px 0;
  flex-direction: column;
  background: #F7F7F7;
}

.custInstitutionalPriceCarousel .custSectionTitle {
  font-weight: 600;
  font-size: 36px;
  font-family: Roboto, sans-serif;
  line-height: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #000;
  max-width: 100%;
  flex: 0 0 100%;
  width: 100%;
  margin: 0 0 40px;
}
.custInstitutionalPriceCarousel .custSectionTitle span{
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.custInstitutionalPriceCarousel .customInstutionsLogo {
  display: flex;
  overflow: hidden;
  gap: 0 20px;
  align-items: center;
  justify-content: center;
  margin: 0 0 20px;
  flex-wrap: wrap;
}

.custInstitutionalPriceCarousel .customInstutionsLogo div {
  flex: 0 0 190px;
  display: flex;
  justify-content: center;
}
.custInstitutionalPriceCarousel .customInstutionsLogo :not(div:nth-child(4)) img {
  filter: invert(1);
}
.custInstitutionalTestimonials {
  display: block;
  padding: 25px 40px;
  background: #fff;
  border-radius: 8px;
  font-size: 16px;
  line-height: 24px;
  width: 100%;
  height: 100%;
}

.custInstitutionalTestimonials p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #292B2D;
  margin: 0 0 12px;
  letter-spacing: normal;
  position: relative;
}

.custInstitutionalTestimonials p:before {
  content: '';
  display: block;
  width: 14px;
  height: 14px;
  background: url(https://growth-hit.s3.us-west-2.amazonaws.com/MediaZilla/quote-icon.svg) no-repeat center center;
  position: absolute;
  left: -22px;
  top: 0px;
}

.custInstitutionalTestimonials .author {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.custInstitutionalTestimonials .author cite {
  font-style: normal;
  color: #000;
  font-size: 16px;
  line-height: 24px;
  font-family: Roboto,sans-serif;
  font-weight: 500;
}

.custInstitutionalTestimonials .author cite span {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-family: Roboto,sans-serif;
}
.section.banner-cta.wf-section .button-white{
  font-size: 14px;
  line-height: 16px;
  min-width: 210px;
  letter-spacing: normal;
}
.custPriceReviewSection {
  margin: 0 0 40px;
  display: flex;
}
.custVideoPlatformWraper {
  padding: 60px 0 40px;
}
.custVideoPlatformWraper h2 {
  text-align: center;
  font-weight: 500;
  font-size: 45px;
  font-family: Roboto,sans-serif;
  margin: 0 0 8px;
  line-height: 56px;
}
.custVideoPlatformWraper p {
  max-width: 980px;
  margin: auto;
  text-align: center;
  color: #000000;
  opacity: 0.9;
  font-weight: 400;
  font-size: 20px;
  font-family: Roboto,sans-serif;
  letter-spacing: normal;
  line-height: 28px;
}
.videoPlatformRow {
  padding: 40px 0;
}
.videoPlatformRow .row {
  display: flex;
}
.videoPlatformRow .row .col-6 {
  flex: 0 0 50%;
  width: 50%;
}
.videoPlatformRow .row .col-6 img.fluid-img{
  width: 100%;
}
.videoPlatformRow .row .col-6 .content {
  padding: 10px 0px 10px 25px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
}
.videoPlatformRow .row .col-6 .content .icon {
  margin: 0 0 14px;
}
.videoPlatformRow .row .col-6 .content .icon img {
  width: 48px;
}
.videoPlatformRow .row .col-6 .content h3 {
  margin: 0 0 16px;
  font-weight: 600;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  font-family: Roboto,sans-serif;
}
.videoPlatformRow .row .col-6 .content p {
  margin: 0 0 26px;
  text-align: left;
  font-family: Roboto,sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #333333;
  opacity: 0.9;
  line-height: 25px;
}
.videoPlatformRow .row .col-6 .content a {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  font-family: Roboto,sans-serif;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0 12px;
  text-transform: uppercase;
  color: #C8242E;
  padding: 10px 0;
}
.videoPlatformRow.reverse .row {
  flex-direction: row-reverse;
}
.videoPlatformRow.reverse .row .col-6 .content{
  padding: 10px 25px 10px 0;
}

.custMediazillaForWraper {
  background: #F7F7F7;
  padding: 60px 0 80px;
  text-align: center;
}
.custMediazillaForWraper h2 {
  font-weight: 500;
  font-size: 45px;
  font-family: Roboto,sans-serif;
  margin: 0 0 8px;
  line-height: 56px;
}
.custMediazillaForWraper p {
  font-weight: 400;
  font-size: 20px;
  font-family: Roboto,sans-serif;
  line-height: 28px;
  letter-spacing: normal;
  color: #000000;
  opacity: 0.9;
  max-width: 980px;
  margin: auto;
}
.custMediazillaForWraper .custServicesGridWraper {
  padding: 40px 0 0;
  display: flex;
  width: 100%;
  gap: 40px 25px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.custMediazillaForWraper .custServicesGridWraper .custGridItems {
  flex: 0 0 calc(33.33% - 17px);
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}
.custMediazillaForWraper .custServicesGridWraper .custGridItems a {
  text-decoration: none;
}
.custMediazillaForWraper .custServicesGridWraper .custGridItems img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 0;
}
.custMediazillaForWraper .custServicesGridWraper .custGridItems .content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: #fff;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 67.19%, rgba(0, 0, 0, 0.7) 100%);
}
.custMediazillaForWraper .custServicesGridWraper .custGridItems .content h4 {
  font-weight: 400;
  font-size: 25px;
  line-height: 35px;
  font-family: Roboto,sans-serif;
  margin: 0;
  display: block;
  width: 100%;
  padding: 10px;
}


.custVideoDeliveryTrail {
  padding: 60px 0;
  text-align: center;
  background: #EDEDED;
  box-shadow: inset 20px 20px 50px rgb(0 0 0 / 20%);
}
.custVideoDeliveryTrail h2 {
  margin: 0 0 8px;
  font-weight: 600;
  font-size: 36px;
  color: #000;
  font-family: Roboto,sans-serif;
  line-height: 49px;
}
.custVideoDeliveryTrail p {
  letter-spacing: normal;
  font-family: Roboto,sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #000000;
  opacity: 0.9;
  margin: 0 0 32px;
}
.custVideoDeliveryTrail .custButtonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 10px;
}
.custVideoDeliveryTrail .custButtonWrapper a.custBtnV1 {
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.07em;
  border-radius: 5px;
  border: 2px solid #C8242E;
  padding: 14px 35px;
  font-weight: 400;
  font-family: Roboto,sans-serif;
  display: block;
  white-space: nowrap;
}
.custVideoDeliveryTrail .custButtonWrapper a.custBtnV1.custFillBtnV1 {
  background: #C8242E;
  color: #fff;
}
.custVideoDeliveryTrail .container,
.custInstitutionalPriceCarousel .container,
.custMediazillaForWraper .container,
.custVideoPlatformWraper .container{
  padding-bottom: 0;
}
.footer-section .container.footer {
  margin-top: 0;
  border: 0;
  padding-top: 0;
}
.section.grey.wf-section{
  display: none;
}
div#Features .container.top .title-wrapper {
  margin-bottom: 40px;
}
.banner{
  max-height: unset;
  height: unset;
  min-height: unset;
  padding: 120px 10px 0px;
  background: none;

  display: none;
}
.banner .bg-hero-image,
.banner .container.split-hero{
  display: none;
}
.customHpBanner .custButtonWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0 10px;
}
.customHpBanner .custButtonWrapper a.custBtnV1 {
  font-size: 14px;
  line-height: 16px;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  letter-spacing: normal;
  border-radius: 5px;
  border: 2px solid #C8242E;
  padding: 14px 35px;
  font-weight: 500;
  font-family: Roboto,sans-serif;
  display: block;
  white-space: nowrap;
}

.customHpBanner .custButtonWrapper a.custBtnV1.custFillBtnV1 {
  background: #C8242E;
  color: #fff;
}

.customHpBanner {
  width: 100%;
  display: block;
  overflow: hidden;
  background: #F7F7F7;
  padding-top: 120px;
  position: relative;
}
.customHpBanner:after {
  content: '';
  display: block;
  width: 1000px;
  height: 1000px;
  position: absolute;
  left: 50%;
  top: calc(50% - 120px);
  background: #fff;
  transform: translate(-100%, -50%);
  border-radius: 500px;
}

.customHpBanner .row {
  display: flex;
  margin: 0 -20px;
}

.customHpBanner .row .col-sm-6 {
  flex: 0 0 50%;
  width: 50%;
  padding: 0 20px;
  box-sizing: border-box;
}

.customHpBanner .row .col-sm-6 h1 {
  color: #000;
  font-weight: 600;
  font-size: 45px;
  line-height: 61px;
  font-family: Roboto,sans-serif;
  margin: 0 0 15px;
}

.customHpBanner .row .col-sm-6 p {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  opacity: 0.9;
  margin: 0 0 15px;
  color: #000;
  letter-spacing: normal;
}

.customHpBanner .row .col-sm-6 ul.heroListings li {
  font-family: Roboto,sans-serif;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.9;
  margin: 0 0 4px;
  position: relative;
  padding-left: 20px;
  color: #000;
}
.customHpBanner .row .col-sm-6 ul.heroListings li:after {
  content: '';
  display: block;
  width: 15px;
  position: absolute;
  left: 0;
  top: 0;
  background: url(https://growth-hit.s3.us-west-2.amazonaws.com/MediaZilla/tick-white-bullet.svg) no-repeat 0px 6px;
  bottom: 0;
  filter: invert(1);
}

.customHpBanner .row .col-sm-6 ul.heroListings {
  list-style: none;
  margin: 0 0 25px;
  padding: 0;
}

.customHpBanner .custInstitutionsSection {
  display: flex;
  gap: 0 25px;
  margin: 60px 0 0px;
  border-bottom: 1px solid #ffff;
  padding: 40px 0;
  position: relative;
  background: #f2f2f2;
}
.customHpBanner .custInstitutionsSection:before,
.customHpBanner .custInstitutionsSection:after {
  content: '';
  position: absolute;  
  top: 0;
  bottom: 0;
  width: 100vw;
  background: #F2F2F2;
}
.customHpBanner .custInstitutionsSection:after {
  left: 100%;
}
.customHpBanner .custInstitutionsSection:before {  
  right: 100%;  
}

.customHpBanner .custInstitutionsSection .custSectionTitle {
  font-weight: 500;
  font-size: 24px;
  font-family: Roboto,sans-serif;
  line-height: 32px;
  max-width: 290px;
  flex: 0 0 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.customHpBanner .custInstitutionsSection .customInstutionsLogo {
  display: flex;
  overflow: hidden;
  gap: 5px;
}

.customHpBanner .custInstitutionsSection .customInstutionsLogo div {
  flex: 0 0 calc(33.33% - 3px);
  display: flex;
  justify-content: center;
}
.customHpBanner .custInstitutionsSection .customInstutionsLogo :not(div:nth-child(4)) img {
  filter: invert(1);
}
.customHpBanner .custVideoWrapper {
  position: relative;
}

.customHpBanner .custVideoWrapper .custVideoPlayButton {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.customHpBanner .customHpVideoPopup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
.customHpBanner .customHpVideoPopup .custFrameWrapper {
  position: relative;
  padding-top: 540px;
  max-width: 960px;
  width: 100%;
  z-index: 1;
}
.customHpBanner .customHpVideoPopup iframe {
  max-width: 100%;
  width: 100% !important;
  max-height: 100%;
  min-height: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.customHpBanner .customHpVideoPopup .custPopupOverlay {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
  cursor: pointer;
}
.customHpBanner .container{
  padding-bottom: 0;
}

.customHpBanner .scrolling-words-box {
  height: 60px;
  margin: 0 auto;
  overflow: hidden;
}

.customHpBanner .scrolling-words-box ul {
  margin: 0;
  padding: 0;
  animation: scrollUp 15s infinite
}

.customHpBanner .scrolling-words-box ul li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 60px;
  list-style: none;
  font-weight: 600;
  font-size: 45px;
  line-height: 60px;
  color: #C8242E;
  font-family: Roboto, sans-serif;
}

@-webkit-keyframes scrollup {
  0% {
      -webkit-transform: translateY(0);
      transform: translateY(0)
  }

  to {
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%)
  }
}

@keyframes scrollup {
  0% {
      -webkit-transform: translateY(0);
      transform: translateY(0)
  }

  to {
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%)
  }
}
@-webkit-keyframes scrollUp {
  0%,
  10% {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
  }

  15%,
  25% {
      -webkit-transform: translateY(-60px);
      transform: translateY(-60px);
  }

  30%,
  40% {
      -webkit-transform: translateY(-120px);
      transform: translateY(-120px);
  }

  45%,
  55% {
      -webkit-transform: translateY(-180px);
      transform: translateY(-180px);
  }

  60%,
  70% {
      -webkit-transform: translateY(-240px);
      transform: translateY(-240px);
  }
  
  75%,
  85% {
      -webkit-transform: translateY(-300px);
      transform: translateY(-300px);
  }
  
  90%,
  100% {
      -webkit-transform: translateY(-360px);
      transform: translateY(-360px);
  }
}
@keyframes scrollUp {
  0%,
  10% {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
  }

  15%,
  25% {
      -webkit-transform: translateY(-60px);
      transform: translateY(-60px);
  }

  30%,
  40% {
      -webkit-transform: translateY(-120px);
      transform: translateY(-120px);
  }

  45%,
  55% {
      -webkit-transform: translateY(-180px);
      transform: translateY(-180px);
  }

  60%,
  70% {
      -webkit-transform: translateY(-240px);
      transform: translateY(-240px);
  }
  
  75%,
  85% {
      -webkit-transform: translateY(-300px);
      transform: translateY(-300px);
  }
  
  90%,
  100% {
      -webkit-transform: translateY(-360px);
      transform: translateY(-360px);
  }
}

@media (max-width: 1024px) {
  .custInstitutionalTestimonials p{
    font-size: 14px;
    line-height: 24px;
  }
  .custInstitutionalTestimonials .author cite{
    font-size: 14px;
    line-height: 22px;
  }
  .custInstitutionalTestimonials .author cite span{
    font-size: 12px;
    line-height: 18px;
  }
}
@media(max-width: 959px){
  .customHpBanner .customHpVideoPopup .custFrameWrapper {
      padding-top: 56%;
  }
}
@media (max-width: 991px) {
  .custVideoPlatformWraper{
    padding: 30px 0 20px;
  }
  .custVideoPlatformWraper h2{
    font-weight: 600;
    font-size: 35px;
    line-height: 35px;
  }
  .custMediazillaForWraper p,
  .custVideoPlatformWraper p{
    font-size: 18px;
    line-height: 25px;
  }
  .videoPlatformRow {
    padding: 25px 0 15px;
  }
  .videoPlatformRow .row {
    display: block;
  }
  .videoPlatformRow .row .col-6 {
    flex: 0 0 100%;
    width: 100%;
  }
  .videoPlatformRow .row .col-6 .content{
    padding: 25px 0 0 !important;
  }
  .videoPlatformRow .row .col-6 .content h3{
    font-size: 25px;
    line-height: 25px;
  }
  .videoPlatformRow .row .col-6 .content p{
    margin: 0 0 16px;
  }
  .custMediazillaForWraper{
    padding: 30px 0 20px;
  }
  .custMediazillaForWraper h2{
    font-weight: 600;
    font-size: 25px;
    line-height: 25px;
  }
  .custMediazillaForWraper .custServicesGridWraper{
    padding: 30px 0 0;
    gap: 20px 15px;
  }
  .custMediazillaForWraper .custServicesGridWraper .custGridItems{
    flex: 0 0 calc(50% - 8px);
  }
  .custMediazillaForWraper .custServicesGridWraper .custGridItems .content h4{
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    padding: 5px;
    opacity: 0.9;
  }
  .custVideoDeliveryTrail h2{
    font-size: 25px;
    line-height: 30px;
    font-weight: 500;
    margin: 0 0 10px;
  }
  .custVideoDeliveryTrail p{
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 30px;
  }
  .custVideoPlatformWraper .container,
  .custMediazillaForWraper .container,
  .custVideoDeliveryTrail .container {
    padding: 0 20px;
  }

  #Features .container.top {
    padding-top: 0px;
  }

  .customHpBanner .custInstitutionsSection{
      flex-direction: column;
      margin-top: 90px;
      margin-bottom: 0px;
  }
  .customHpBanner .custContactDemoContent ul{
      margin: 0;
  }
  .customHpBanner .custInstitutionsSection .custSectionTitle{
      width: 100%;
      font-size: 25px;
      margin: 0 0 10px;
      max-width: 100%;
  }
  .customHpBanner .custInstitutionsSection .customInstutionsLogo{
      flex-wrap: wrap;
      gap: 3px;
  }
  .customHpBanner .custInstitutionsSection .customInstutionsLogo div{
      flex: 0 0 calc(33.33% - 3px);
  }
  .customHpBanner{
      padding-top: 80px;
  }
  .customHpBanner .row .col-sm-6 h1{
      font-size: 35px;
      line-height: 47px;
  }
  .customHpBanner .row .col-sm-6 p{
      font-size: 16px;
      line-height: 22px;
  }
  .customHpBanner .row .col-sm-6 ul.heroListings li{
      font-size: 14px;
      line-height: 22px;
  }
  .customHpBanner .custVideoWrapper .custVideoPlayButton{
      width: 50px;
  }
 
  .menu-button:not(.w--open) {
    color: #000 !important;
  }
  
  .custInstitutionalPriceCarousel .container{
    max-width: 100% !important;
  }
  
  @-webkit-keyframes scrollUp {
    0%,
    10% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    15%,
    25% {
        -webkit-transform: translateY(-42px);
        transform: translateY(-42px);
    }

    30%,
    40% {
        -webkit-transform: translateY(-90px);
        transform: translateY(-90px);
    }

    45%,
    55% {
        -webkit-transform: translateY(-132px);
        transform: translateY(-132px);
    }

    60%,
    70% {
        -webkit-transform: translateY(-174px);
        transform: translateY(-174px);
    }

    75%,
    85% {
        -webkit-transform: translateY(-206px);
        transform: translateY(-206px);
    }
    90%,
    100% {
        -webkit-transform: translateY(-248px);
        transform: translateY(-248px);
    }
  }
  @keyframes scrollUp {
      0%,
      10% {
          -webkit-transform: translateY(0);
          transform: translateY(0);
      }

      15%,
      25% {
          -webkit-transform: translateY(-42px);
          transform: translateY(-42px);
      }

      30%,
      40% {
          -webkit-transform: translateY(-90px);
          transform: translateY(-90px);
      }

      45%,
      55% {
          -webkit-transform: translateY(-132px);
          transform: translateY(-132px);
      }

      60%,
      70% {
          -webkit-transform: translateY(-174px);
          transform: translateY(-174px);
      }

      75%,
      85% {
          -webkit-transform: translateY(-206px);
          transform: translateY(-206px);
      }
      90%,
      100% {
          -webkit-transform: translateY(-248px);
          transform: translateY(-248px);
      }
  }
  .customHpBanner .scrolling-words-box>ul li,
  .customHpBanner .row .col-sm-6 h1 {
      font-size: 36px;
      line-height: 42px;
  }
  .customHpBanner .scrolling-words-box>ul li{
      height: 42px;
  }
  
  .customHpBanner .scrolling-words-box{
    height: 42px;
}
}
@media (max-width: 850px) and (orientation: landscape){
  .customHpBanner .customHpVideoPopup{
      padding: 75px;
  }
}
@media(max-width: 767px){
  .custInstitutionalTestimonials .author {
    position: relative;
    display: block;
  }

  .custInstitutionalTestimonials .author cite {
      padding-right: 110px;
      font-size: 16px;
      line-height: 24px;
      font-weight: 600;
      display: block;
      height: auto;
  }

  .custInstitutionalTestimonials .author cite span {
      white-space: nowrap;
      font-size: 14px;
      line-height: 20px;
  }

  .custInstitutionalTestimonials .author .starsRatings {
      position: absolute;
      right: 0;
      top: 0;
  }

  .custInstitutionalTestimonials {
      padding: 16px 32px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }
  .custInstitutionalTestimonials p{
    font-size: 16px;
    line-height: 24px;
  }
  .custInstitutionalPriceCarousel{
    padding: 30px 0;
  }
  .custInstitutionalPriceCarousel .custSectionTitle{
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
  }
  .custInstitutionalPriceCarousel .custSectionTitle span{
    margin: 20px 0 0;
  }
  .custInstitutionalPriceCarousel .customInstutionsLogo{
    gap: 0 10px;
    margin: 0;
  }
  .custInstitutionalPriceCarousel .customInstutionsLogo div{
    flex: 0 0 calc(33.3% - 10px);
  }
  .custInstitutionalPriceCarousel .container{
    padding: 0 15px;
  }
  .custPriceReviewSection .swiper-wrapper{
    height: unset;
    overflow: unset;
  }
  .custVideoDeliveryTrail{
    padding: 30px 0;
  }
  .custVideoDeliveryTrail .custButtonWrapper a.custBtnV1{
    padding: 14px 25px;
  }
  .customHpBanner{
    padding-top: 90px;
  }

  div#Features .container.top .title-wrapper {
    margin-bottom: 30px;
  }
  .customHpBanner .row{
      flex-direction: column;
  }
  .customHpBanner .row .col-sm-6{
      flex: 0 0 100%;
      width: 100%;
  }
  .customHpBanner .custVideoWrapper{
      margin-top: 30px;
  }
  .customHpBanner .custButtonWrapper{
      gap: 15px;
      flex-direction: column;
  }
  .customHpBanner .custInstitutionsSection{
      margin-top: 30px;
      margin-bottom: 0px;
      padding: 30px 0;
  }
  .customHpBanner .custButtonWrapper a.custBtnV1{
      width: 100%;    
      letter-spacing: normal;
  }
  .customHpBanner .container {
      padding: 0;
      padding-left: 15px;
      padding-right: 15px;
  }
  .customHpBanner .row .col-sm-6 p{
      font-size: 18px;
      line-height: 25px;
      letter-spacing: normal;
  }
  .customHpBanner .row .col-sm-6 ul.heroListings{
    margin: 0 0 30px;
  }
  .customHpBanner .row .col-sm-6 ul.heroListings li{
      font-size: 16px;
      line-height: 20px;
  }
  .customHpBanner .custInstitutionsSection .customInstutionsLogo{
      gap: 10px;
  }
  .customHpBanner .custInstitutionsSection .customInstutionsLogo div{
      flex: 0 0 calc(32.5% - 5px);
  }
  .customHpBanner:after{
    top: 0;
    transform: translate(-50%, -50%);
  } 

  .customHpBanner .scrolling-words-box {
    height: 34px;
  }
  .customHpBanner .scrolling-words-box>ul li,
  .customHpBanner .row .col-sm-6 h1 {
      font-size: 30px;
      line-height: 34px;
  }
  .customHpBanner .scrolling-words-box>ul li{
      height: 34px;
  }
  
  @-webkit-keyframes scrollUp {
    0%,
    10% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    15%,
    25% {
        -webkit-transform: translateY(-34px);
        transform: translateY(-34px);
    }

    30%,
    40% {
        -webkit-transform: translateY(-68px);
        transform: translateY(-68px);
    }

    45%,
    55% {
        -webkit-transform: translateY(-102px);
        transform: translateY(-102px);
    }

    60%,
    70% {
        -webkit-transform: translateY(-136px);
        transform: translateY(-136px);
    }

    75%,
    85% {
        -webkit-transform: translateY(-170px);
        transform: translateY(-170px);
    }

    90%,
    100% {
        -webkit-transform: translateY(-204px);
        transform: translateY(-204px);
    }
  }
  @keyframes scrollUp {
      0%,
      10% {
          -webkit-transform: translateY(0);
          transform: translateY(0);
      }

      15%,
      25% {
          -webkit-transform: translateY(-34px);
          transform: translateY(-34px);
      }

      30%,
      40% {
          -webkit-transform: translateY(-68px);
          transform: translateY(-68px);
      }

      45%,
      55% {
          -webkit-transform: translateY(-102px);
          transform: translateY(-102px);
      }

      60%,
      70% {
          -webkit-transform: translateY(-136px);
          transform: translateY(-136px);
      }

      75%,
      85% {
          -webkit-transform: translateY(-170px);
          transform: translateY(-170px);
      }

      90%,
      100% {
          -webkit-transform: translateY(-204px);
          transform: translateY(-204px);
      }
  }
}
@media(max-width: 360px){
  .custInstitutionalTestimonials .author .starsRatings {
    position: relative;
  }
  .custInstitutionalTestimonials .author cite {
      padding-right: 0px;
      display: block;
  }
  .custInstitutionalTestimonials .author cite span {
      white-space: normal;
      display: block;
  }
  .custMediazillaForWraper .custServicesGridWraper .custGridItems{
    flex: 0 0 calc(100% - 0px);
  }
}


/**Naviagtion***/
.nav-wrapper{
    display: none;
}
.nav-container{
    margin: -1px auto 0;
}
.custNavWraperV1 {
    width: 100%;
    padding-top: 1px;
}
.custNavWraperV1 nav .wrapper{
    position: relative;
    max-width: 1300px;
    padding: 0px;
    height: 60px;
    line-height: 60px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: normal;
    gap: 0;
}
.custNavWraperV1 nav .wrapper .div-block{
    margin-left: auto;
}
.custNavWraperV1 nav .wrapper .div-block a.navlink{
    line-height: normal;
    font-family: Poppins,sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    color:#fff;
}
.custNavWraperV1 nav .wrapper .div-block a.nav-button.get-a-demo{
    line-height: 18px;
    font-size: 14px;
    font-weight: 500;
}
.custNavWraperV1 nav .wrapper .div-block a.nav-button.get-a-demo.outline{
    background: none;
    border: 2px solid #ca2128;
    color: #000;
}
.custNavWraperV1 nav .wrapper .logo a{
    color: #f2f2f2;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    margin-right: 14px;
}
.custNavWraperV1 nav .wrapper .nav-links{
    display: inline-flex;
    margin: 0;
    width: 100%;
    z-index: 1;
    padding: 0;
}
.nav-links li{
    list-style: none;
}
.nav-links li .custLink{
    color: #000;
    text-decoration: none;
    font-weight: 500;
    padding: 20px;
    border-radius: 5px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    line-height: normal;
    font-family: Poppins,sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
}
.nav-links .custLink .dropdown-icon{
    filter: unset !important;
    transition: all 0.3s ease;
}
.nav-links li input[type="checkbox"]:checked ~ .mega-box,
.nav-links li input[type="radio"]:checked ~ .mega-box{
  transition: all 0.3s ease;
  top: 61px;
  opacity: 1;
  visibility: visible;
}
.nav-links li input[type="checkbox"]:checked ~ .custLink .dropdown-icon,
.nav-links li input[type="radio"]:checked ~ .custLink .dropdown-icon{
    transform: rotate(180deg);
}
.mega-box{
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0 95px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
}
.mega-box .content{
  background: #fff;
  padding: 25px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
  flex-wrap: wrap;
  border-radius: 0px 0px 10px 10px;
}
.mega-box .content .row{
    width: calc(25% - 30px);
    line-height: 45px;
    display: flex;
    gap: 0 8px;
    margin: 0 0 25px;
    text-decoration: none;
}
.mega-box .content .row .icon {
    width: 24px;
    display: flex;
    height: 24px;
    flex: 0 0 24px;
    margin-top: -5px;
}
.content .row img{
  width: 100%;
  height: 100%;
}
.mega-box .content .row .menuContentV1 {
    max-width: 185px;
}
.mega-box .content .row .menuContentV1 h6 {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    font-family: Roboto,sans-serif;
    margin: 0 0 10px;
    color: #000;
}
.mega-box .content .row .menuContentV1 p {
    margin: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    font-family: Roboto,sans-serif;
    color: #333333;
    opacity: 0.9;
    letter-spacing: normal;
}
.custNavWraperV1 nav .wrapper .btn{
  font-size: 20px;
  cursor: pointer;
  display: none;
  margin-left: auto;
}
.mega-box .content .custTrialWraperV1 {
    width: 100%;
    padding: 20px 25px;
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
}
.mega-box .content .custTrialWraperV1 h5 {
    font-weight: 600;
    font-size: 18px;
    font-family: Roboto,sans-serif;
    color: #000000;
    max-width: 425px;
    margin: 0;
    line-height: 24px;
}
.mega-box .content .custTrialWraperV1 a.custBtnV1.custFillBtnV1 {
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    letter-spacing: 0.07em;
    border-radius: 5px;
    border: 2px solid #C8242E;
    padding: 14px 35px;
    font-weight: 500;
    font-family: Roboto,sans-serif;
    white-space: nowrap;
    background: #C8242E;
    display: flex;
    height: 48px;
}
.navbar:not([style*="will-change:"]) img.logo-1,
.navbar[style*="will-change: background; background-color: rgb(247, 247, 247);"] img.logo-1 {
  opacity: 0 !important;
  display: none;
}
.navbar:not([style*="will-change:"]) img.logo-2,
.navbar[style*="will-change: background; background-color: rgb(247, 247, 247);"] img.logo-2 {
  opacity: 1 !important;
  display: block;
}
.navbar:not([style*="will-change:"]) .nav-links li .custLink, 
.navbar:not([style*="will-change:"]) .nav-links li a, 
.navbar:not([style*="will-change:"]) .nav-links .div-block .nav-button.get-a-demo:not(.custTrialLink){
  color: #000;
}
.custNavWraperV1 nav .navbar[style*="will-change: background; background-color: rgb(247, 247, 247);"] .wrapper .logo a img.logo-2{
  display: none !important;
  opacity: 1 !important;  
}
.custNavWraperV1 nav .wrapper .div-block a.navlink.signin,
.navbar[style*="will-change: background; background-color: rgb(247, 247, 247);"] .nav-links .div-block a.nav-button.get-a-demo.outline,
.navbar[style*="will-change: background; background-color: rgb(247, 247, 247);"] .nav-links .div-block .navlink.signin,
.navbar[style*="will-change: background; background-color: rgb(247, 247, 247);"] .nav-links li .custLink{
    color: #131313 !important;
}
.navbar:not([style*="will-change:"]) .nav-links li .custLink img.dropdown-icon,
.navbar[style*="will-change: background; background-color: rgb(247, 247, 247);"] .nav-links li .custLink img.dropdown-icon{
    filter: invert(0%) !important;
}
.navbar:not([style*="will-change:"]) .custNavWraperV1 nav .wrapper .btn.menu-btn,
.navbar[style*="will-change: background; background-color: rgb(247, 247, 247);"] .custNavWraperV1 nav .wrapper .btn.menu-btn{
    color: #131313;
}
.custNavWraperV1 nav .wrapper .nav-links .custMobileHeaderV1{
    display: none;
}
.custNavWraperV1 nav .wrapper .nav-links .custMobileHeaderV1 a{
    padding: 0;
}
.custMenuOverlayV1 {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgb(0 0 0 / 50%);
    z-index: 0;
    display: none;
    margin: 0;
}
.custMobileHeaderV1 {
    padding: 0 15px;
    position: relative;
}
.custNavWraperV1 label.btn.close-btn{
    color: #000;
    position: absolute;
    right: 38px;
    margin: 0;
    top: 50%;
    margin-top: -10px;
    display: flex;
}

.custNavWraperV1 label.btn.close-btn svg {
    width: 12px;
    height: 12px;
    display: block;
}
.custNavWraperV1 label.btn.close-btn svg path {
    fill: #000;
}

@media screen and (max-width: 970px) {
  .custNavWraperV1 nav .wrapper .btn{
    display: block;
  }
  .custNavWraperV1 nav .wrapper .nav-links{
    position: fixed;
    height: 100%;
    width: 100%;
    max-width: 375px;
    top: 0;
    left: -100%;
    background: #fff;
    display: flex;
    padding: 0px;
    line-height: 50px;
    overflow-y: auto;
    transition: all 0.3s ease;
    flex-direction: column;
  }  
    .custNavWraperV1 nav .wrapper .nav-links .custMobileHeaderV1{
        display: block;
        position: sticky;
        top: 0;
        background: #fff;
        z-index: 1;
    }
  #menu-btn:checked ~ .custMenuOverlayV1{
    display: block;
  }
  #menu-btn:checked ~ .nav-links{
    left: 0%;
  }
  
  #close-btn:checked ~ .btn.menu-btn{
    display: block;
  }
  #close-btn:checked ~ .custMenuOverlayV1{
    display: none;
  }
  .nav-links li{
    margin: 0;
  }
  .nav-links li a{
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }
  .nav-links input[type="radio"]:checked ~ .mega-box,
  .nav-links input[type="checkbox"]:checked ~ .mega-box{
    max-height: 100%;
  }
  .nav-links input[type="radio"]:checked ~ label img.dropdown-icon,
  .nav-links input[type="checkbox"]:checked ~ label img.dropdown-icon{
    transform: rotate(180deg);
  }
  .mega-box{
    position: static;
    top: 65px;
    opacity: 1;
    visibility: visible;
    padding: 0 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  .mega-box .content{
    box-shadow: none;
    flex-direction: column;
    padding: 0px;
    border-radius: 0;
  }
  .mega-box .content .row{
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid rgba(255,255,255,0.08);
    padding: 0;
  }
  .mega-box .content .row:nth-child(1),
  .mega-box .content .row:nth-child(2){
    border-top: 0px;
  }
  .nav-links .div-block a.nav-button.get-a-demo{
    width: 100%;
    max-width: 100%;
    margin: 0 0 15px;
    font-size: 14px;
    font-weight: 500;
  }
  .custNavWraperV1 nav .wrapper .div-block{
    margin-top: auto;
    padding: 20px 15px 0;
  }
  .custNavWraperV1 nav .wrapper .div-block a.navlink{
    padding: 15px;
    color: #000 !important;
  }
  .nav-links .div-block a.nav-button.get-a-demo.outline{
    color: #000 !important;
  }
  .nav-links li .custLink{
    color: #000 !important;
    padding: 15px !important;
    line-height: 18px;
    padding-right: 35px !important;
    position: relative;

    display: block;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .nav-links li .custLink img.dropdown-icon{
    filter: invert(0%) !important;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -6px;
    transition: all 0.3s ease;
  }
  .mega-box .content .custTrialWraperV1{
    display: none;
  }  
  .mega-box .content .row .menuContentV1{
    max-width: 100%;
  }
  .nav-links li .custLink{
    font-size: 14px;
    letter-spacing: 0.07em;
  }
  .custNavWraperV1 label.btn.close-btn .w-icon-nav-menu:before{
    display: none;
  }
}
@media screen and (max-width: 767px) {
    .custNavWraperV1 label.btn.close-btn .w-icon-nav-menu svg{
        display: none;
    }
    .custNavWraperV1 label.btn.close-btn .w-icon-nav-menu:before{
      display: block;
    }
    .custNavWraperV1 nav .wrapper .nav-links{
        max-width: 100%;
    }
}
