    .customSwiper {
      width: 100%;
      height: 100%;
    }

    .customSwiper .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .customSwiper .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

     .customSwiper {
      width: 100%;
      height: 300px;
      margin-left: auto;
      margin-right: auto;
    }

    .customSwiper .swiper-slide {
      background-size: cover;
      background-position: center;
    }

    .custStarMapNecklaceSlider {
      height: 80%;
      width: 100%;
    }

    .custThumbnailStarMapSlider {
      height: 20%;
      box-sizing: border-box;
      padding: 10px 0;
    }

    .custThumbnailStarMapSlider .swiper-slide {
      width: 25%;
      height: 100%;
      opacity: 0.4;
    }

    .custThumbnailStarMapSlider .swiper-slide-thumb-active {
      opacity: 1;
    }

    .customSwiper .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }