<style>
.shopify-section.section-banner-tiles-large .image-cover + .container-xxl.position-relative > .row.row-cols-5{
     display: none !important; 
}

.custBetterSleepWraper {
    padding: 64px 0;
    text-align: center;
}

.custBetterSleepWraper h2 {
    font-weight: 400;
    font-size: 38px;
    line-height: 45px;
    font-family: var(--bs-body-font-family);
    margin: 0 0 40px;
}

.custBetterSleepWraper .custTabContent {
    display: none;
}
.custBetterSleepWraper .custBetterSleepTabs .tabs {
    display: flex;
    gap: 0 4px;
}

.custBetterSleepWraper .custBetterSleepTabs {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 40px;
}

.custBetterSleepWraper .custBetterSleepTabs .tabs .custTab {
    padding: 12px 24px;
    border-radius: 100px;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    border: 1px solid #DDDDDD;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 8px;
    letter-spacing: 0.06em;
    cursor: pointer;
}
.custBetterSleepWraper .custBetterSleepTabs .tabs .custTab.active {
    background: #DDDDDD;
    color: #000;
}
.custBetterSleepWraper .custBetterSleepTabs .tabs .custTab span {
    padding: 2px 6px;
    background: #84948B;
    border-radius: 100px;
    color: #fff;
    font-size: 12px;
    line-height: 16px;
    display: inline-flex;
}
.custBetterSleepWraper .custBetterSleepTabsContent .custItemBox a {
    text-decoration: none;
}
.custBetterSleepWraper .custBetterSleepTabsContent .custItemBox img {
    width: 100%;
}

.custBetterSleepWraper .custBetterSleepTabsContent .custBadge {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 10px;
}

.custBetterSleepWraper .custBetterSleepTabsContent .custItemImageBox {
    position: relative;
}

.custBetterSleepWraper .custBetterSleepTabsContent .custBadge span {
    padding: 8px 24px;
    background: #FAD950;
    border-radius: 2px;
    color: #000;
    display: inline-flex;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.07em;
}
.custBetterSleepWraper .custBetterSleepTabsContent .custBadge.bestseller span {
    background: #000000;
    color: #fff;
}


.custBetterSleepWraper .custBetterSleepTabsContent  .custItemBox {
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    overflow: hidden;
}

.custBetterSleepWraper .custBetterSleepTabsContent  .custCardBody {
    padding: 10px 20px;
}

.custBetterSleepWraper .custBetterSleepTabsContent .custCardBody h5 {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #000000;
}

.custBetterSleepWraper .custBetterSleepTabsContent  .card-footer {
    padding-top: 4px !important;
    min-height: 60px;
}

.custBetterSleepWraper .custBetterSleepTabsContent .card-footer p {
    font-weight: 400;
    font-size: 14px !important;
    line-height: 20px;
    font-family: var(--bs-body-font-family);
    opacity: 0.9;
}

.custBetterSleepWraper .custShopAllPillowBtn {
    padding-top: 40px;
}

.custBetterSleepWraper .custShopAllPillowBtn a {
    padding: 12px 48px;
    background: #FAD850;
    border-radius: 100px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #000000;
    font-family: var(--bs-body-font-family);
    text-decoration: none;
    display: inline-flex;
    transition: 0.3s all;
}

.custBetterSleepWraper .custShopAllPillowBtn a:hover {
    background: #000;
    color: #fff;
}
.custBetterSleepWraper .custBetterSleepItems{
    padding: 10px;
}
.custBetterSleepWraper .custBetterSleepItems .swiper-button-next,
.custBetterSleepWraper .custBetterSleepItems .swiper-button-prev{
    font-size: 0 !important;
    border-radius: 500px;
    width: 36px;
    height: 36px;
}
.custBetterSleepWraper .custBetterSleepTabsContent .custBetterSleepItems.accessories .custCardBody {
    min-height: 60px;
}
.custBetterSleepWraper .custBetterSleepTabsContent .custBetterSleepItems.accessories .card-footer {
    min-height: 60px;
}
.custBetterSleepWraper .custBetterSleepTabsContent .custBetterSleepItems.bundles .custCardBody {
    min-height: 60px;
}
.custBetterSleepWraper .custBetterSleepTabsContent .custBetterSleepItems.bundles .card-footer {
    min-height: 60px;
}
@media(max-width: 991px){
    .custBetterSleepWraper h2{
        font-size: 24px;
        line-height: 32px;
        margin: 0 0 20px;   
    }
    .custBetterSleepWraper .custBetterSleepTabs{
        overflow: auto;
        padding: 10px 0 5px;
        margin: 0 10px;
        position: relative;
    }
    .custBetterSleepWraper .custBetterSleepTabs .tabs{
        gap: 0 2px;
        overflow: visible;
    }
    .custBetterSleepWraper .custBetterSleepTabs .tabs .custTab{
        padding: 8px 16px;
        font-size: 14px;
        position: relative;
        white-space: nowrap;
    }
    .custBetterSleepWraper .custBetterSleepTabs .tabs .custTab span{
        position: absolute;
        bottom: calc(100% - 10px);
    }
    .custBetterSleepWraper .custBetterSleepTabs:after {
        content: '';
        display: block;
        width: 22px;
        height: 46px;
        background: url(https://growth-hit.s3.us-west-2.amazonaws.com/trtltravel/mobile_tab_slider.png) no-repeat center center;
        position: sticky;
        right: 0;
        padding-left: 22px;
        margin-top: -4px;
    }
}
@media(max-width: 767px){
    .custBetterSleepWraper .custBetterSleepTabs{
        align-items: flex-start;
        justify-content: flex-start;
        padding-right: 0;
    }
    .custBetterSleepWraper .custBetterSleepItems .swiper-wrapper{
        width: calc(50% + 50vw);
    }
    .custBetterSleepWraper .custBetterSleepItems .swiper-wrapper .swiper-slide{
        width: 60%;
    }
    .custBetterSleepWraper .custTabContent {
        margin-right: -12px;
    }
}
</style>