<style>
.custOffersBanner {
    background: #FFE17E;
    border-radius: 8px;
    width: 336px;
    height: 74px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 13px;
}
.custOffersBanner h4, .custOffersBanner p {
    margin: 0;
}
.custOffersBanner h4 {
    line-height: 0;
}
.custOffersBanner h4 {
    line-height: 1;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    color: #1C314E;
    font-family: Tanker !important;
}
.custOffersBanner small {
    font-family: Tanker !important;
    font-style: normal !important;
font-weight: 500 !important;
    font-size: 16px !important;
     color: #1C314E;
}
</style>