<style>
body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1772,
body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1774,
body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1776,
body[data-once="form-single-submit detailsAria"] #content-wrapper main + .below-content{
    display: none;
}

body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron .container .group-left {
    width: 50%;
    padding: 0 !important;
}

body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron .container .group-middle {
    width: 50%;
    padding: 0;
    padding-left: 40px;
    padding-top: 0 !important;

    display: flex;
    flex-direction: column;
}

.custQuoteWraper{
    order: 5;
    margin: 20px 0 0;
}

.custQuoteWraper .swiper.custEngageHeroQuoteSlider {
    padding-bottom: 50px;
}

.custQuoteWraper .swiper.custEngageHeroQuoteSlider .swiper-button-next, 
.custQuoteWraper .swiper.custEngageHeroQuoteSlider .swiper-button-prev {
    display: flex;
    width: 30px;
    height: 30px;
    position: absolute;
    top: auto;
    bottom: 0;
    background: #fff;
    border-radius: 30px;
}

.custQuoteWraper .swiper.custEngageHeroQuoteSlider .swiper-button-next::after, .custQuoteWraper .swiper.custEngageHeroQuoteSlider .swiper-button-prev::after {
    font-size: 16px;
    color: #000;
}

.custQuoteWraper .swiper.custEngageHeroQuoteSlider .swiper-button-next {
    right: 50%;
    margin-right: -40px;
}

.custQuoteWraper .swiper.custEngageHeroQuoteSlider .swiper-button-prev {
    left: 50%;
    margin-left: -40px;
}

body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron .container .group-right {display: none;}

body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron .container .group-middle form {
    display: flex;
    flex-wrap: wrap;
    gap: 15px 10px;
    padding: 32px !important;
    background: #fff;
    box-shadow: 0px 5px 20px rgb(0 0 0 / 15%);
    display: flex;
    flex-wrap: wrap;
    gap: 15px 10px;
}

body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron .container .group-middle form .js-form-item {
    flex: 0 0 calc(50% - 5px);
    width: calc(50% - 5px);
    margin: 0;
}
body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron .container .group-middle form .js-form-item button.dropdown-toggle{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #53565A;
    padding: 8px;
    border-radius: 0;
    font-family: "proxima-soft","Open Sans","Times New Roman",Times,serif;
}
body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron .container .group-middle form .js-form-item button.dropdown-toggle:focus{
    outline: 0px !important;
}
body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron .container .group-middle form .js-form-item button.dropdown-toggle span.filter-option{
    color: #53565A;
}

body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron .container .group-middle form .js-form-item.js-form-type-email, body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron .container .group-middle form .js-form-item.js-form-item-phone-number, body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron .container .group-middle form .js-form-item.js-form-item-city {
    flex: 0 0 100%;
}

body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron .container .group-middle form fieldset.js-form-item {
    display: none;
}

body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron .container .group-middle form .js-form-item.js-form-item-amount-of-unsecured-debt-not-including-mortgage- {
    display: none;
}

body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron .container .group-middle form .js-form-item.js-form-item-gross-annual-income {
    display: none;
}

body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron .container .group-middle form .js-form-item.js-form-type-textarea {
    flex: 0 0 100%;
    width: 100%;
}
body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron .container .group-middle form .js-form-item.js-form-type-textarea label{
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    font-family: "proxima-soft","Open Sans","Times New Roman",Times,serif;
}

body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron .container .row {
    display: flex;
    margin: 0;
}

body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron {
    background: #F1F1F2;
}

body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron .container {
    margin: 0 auto;
    padding: 0;
}

body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron .container .group-middle form .js-form-item.js-form-type-textarea textarea {
    height: 120px;
    background: #fff;
    border: 1px solid #CCCCCC;
    padding: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #53565A;
    width: 100%;
    font-family: "proxima-soft","Open Sans","Times New Roman",Times,serif;
}

body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron .container .group-middle form .js-form-item .bootstrap-select > .dropdown-toggle.bs-placeholder {
    background: #fff;
    border: 1px solid #CCCCCC;
    padding: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #53565A;
    width: 100%;
    font-family: "proxima-soft","Open Sans","Times New Roman",Times,serif;
    border-radius: 0;
}

body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron .container .group-middle form .js-form-item input {
    background: #fff;
    border: 1px solid #CCCCCC;
    padding: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #53565A;
    width: 100%;
    font-family: "proxima-soft","Open Sans","Times New Roman",Times,serif;
}

body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron .container .group-middle form .js-form-item input::placeholder {color: #53565A;opacity: 0.7;}

body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron .container .group-middle form .js-form-item .bootstrap-select > .dropdown-toggle.bs-placeholder span.filter-option.pull-left {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #53565A;
    width: 100%;
    font-family: "proxima-soft","Open Sans","Times New Roman",Times,serif;
    opacity: 0.7;
}

body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron .container .group-middle form div.form-actions {
    width: 100%;
}

body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron .container .group-middle form div.form-actions input.js-form-submit.form-submit {
    width: 100%;
    background: #26D07C;
    border-radius: 5px;
    color: #fff;
    padding: 15px 14px;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    font-family: "proxima-soft","Open Sans","Times New Roman",Times,serif;
    flex: 0 0 100%;
}

body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron .container .group-middle .formTexualContent h2 {
    font-weight: 600;
    font-size: 56px;
    color: #0D1C14;
    margin: 0 0 20px;
    line-height: 58px;
}
body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron .container .group-middle .formTexualContent h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin: 0 0 20px;
    font-family: "proxima-soft","Open Sans","Times New Roman",Times,serif;
}
body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron .container .group-middle .formTexualContent p.subPara {
    display: flex;
    align-items: flex-start;
    gap: 0 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000;
    margin: 0 0 20px;
    font-family: "proxima-soft","Open Sans","Times New Roman",Times,serif;
}
body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron .container .group-middle .formTexualContent p.subPara img {
    margin: 5px 0 0;
}

body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron .container .group-middle form .js-form-item.js-form-type-textarea textarea::placeholder {
    color: #53565A;
    opacity: 0.7;
}

body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron .container .group-left .custLeftColumn .imgBox {
    margin: 0 0 40px;
    display: block;
}

body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron .container .quoteBox {
    font-weight: 500;
    font-size: 21px;
    line-height: 32px;
    font-style: italic;
    font-family: "proxima-soft", "Open Sans", "Times New Roman", Times, serif;
    color: #000;
    background: #fff;
    padding: 40px;
    position: relative;
}
body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron .container .custHelpInformation.desk{
    display: block;
}
body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron .container .custHelpInformation.mobile{
    display: none;
}

body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron .container .quoteBox .text {
    position: relative;
}

body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron .container .quoteBox cite {
    display: block;
    text-align: right;
    margin: 12px 0 0;
    font-style: normal;
}

body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron .container .quoteBox .text:before, body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron .container .quoteBox .text:after {
    content: '';
    font-weight: 500;
    font-size: 40px;
    line-height: 32px;
    font-family: "proxima-soft", "Open Sans", "Times New Roman", Times, serif;
    color: #000;
    position: absolute;
}

body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron .container .quoteBox .text:before {
    content: ' " ';
    left: -25px;
}

body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron .container .quoteBox .text:after {
    content: ' " ';
    right: -25px;
}


body[data-once="form-single-submit detailsAria"] #content-wrapper main .custAwardsSection h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    font-family: "proxima-soft", "Open Sans", "Times New Roman", Times, serif;
    margin: 0 0 20px;
}

body[data-once="form-single-submit detailsAria"] #content-wrapper main .custAwardsSection .awardsLogoWraper {
    display: flex;
    /*overflow: auto;*/
    /*gap: 0 20px;*/

    /* Hide scrollbar for IE, Edge and Firefox */
    /*-ms-overflow-style: none;*/
    /* IE and Edge */
    /*scrollbar-width: none;*/
    /* Firefox */
    padding: 0 12px;
    margin: 0;

}
body[data-once="form-single-submit detailsAria"] #content-wrapper main .custAwardsSection .awardsLogoWraper ul.slick-dots{
    margin: 0 0 0px;
}
body[data-once="form-single-submit detailsAria"] #content-wrapper main .custAwardsSection .awardsLogoWraper button.slick-arrow{
    display: none !important;
}
/* the slides */
body[data-once="form-single-submit detailsAria"] #content-wrapper main .custAwardsSection .awardsLogoWraper .slick-slide {
    margin: 0 10px;
}
/* the parent */
body[data-once="form-single-submit detailsAria"] #content-wrapper main .custAwardsSection .awardsLogoWraper .slick-list {
    margin: 0 -10px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body[data-once="form-single-submit detailsAria"] #content-wrapper main .custAwardsSection .awardsLogoWraper::-webkit-scrollbar {
    display: none;
}

body[data-once="form-single-submit detailsAria"] #content-wrapper main .custAwardsSection .awardsLogoWraper .logoImg {
    flex: 0 0 auto;
    border-radius: 5px;
    overflow: hidden;
}

body[data-once="form-single-submit detailsAria"] #content-wrapper main .custAwardsSection .awardsLogoWraper .logoImg img {
    height: 60px;
    width: auto;
}

body[data-once="form-single-submit detailsAria"] #content-wrapper main .custAwardsSection {
    padding: 40px 20px 0;
}

body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron .container .group-middle form p.custContactFooterContain {
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: #000000;
    font-family: "proxima-soft","Open Sans","Times New Roman",Times,serif;
    margin: 15px 0 0;
    text-align: center;
}

body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron .container .group-middle form div[role="contentinfo"]{
    width: 100%;
}
body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron .container .group-middle form div[role="contentinfo"] .alert{
    position: relative;
    margin: 0 0 10px;
}
body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron .container .group-middle form div[role="contentinfo"] .alert button.close{
    top: 0;
    right: 7px;
    position:absolute;
}
  
 
body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron .container .group-middle form div[role="contentinfo"] .alert button.close:hover{
    background: none;
}
  
body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron .container .group-middle form .captcha {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    color: #404040;
    font-weight: 400;
}
body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron .container .group-middle form .captcha .card-body .g-recaptcha{
    margin-top: 8px;
}

.custHelpInformation h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    font-family: "proxima-soft";
    color: #000;
    margin: 0 0 16px;
}
.custHelpInformation .infoBox {
    background: #fff;
    padding: 15px;
    margin: 0 0 10px;
    display: flex;
    align-items: flex-start;
    gap: 16px;
}
.custHelpInformation .infoBox .icon {
    flex: 0 0 40px;
}
.custHelpInformation .infoBox .content h5 {
    margin: 0;
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
    color: #26D07C;
    font-family: "proxima-soft";
}
.custHelpInformation .infoBox .content p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    font-family: "proxima-soft";
    margin: 0;
    color: #000;
}
.custQualifyForm .custCreditRangeForm {
    background: #FFFFFF;
    box-shadow: 0px 5px 20px rgb(0 0 0 / 15%);
    padding: 32px;
    margin: 0 0 0px;
    text-align: center;
}
.custQualifyForm .custCreditRangeForm h4 {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    font-family: "proxima-soft","Open Sans","Times New Roman",Times,serif;
    text-align: center;
    color: #000;
    letter-spacing: normal;
    margin: 0 0 15px;
}
.custQualifyForm .custCreditRangeForm .slidecontainer {
    width: 100%; /* Width of the outside container */
    padding: 5px 0 29px;
    position: relative;
}
  
/* The slider itself */
.custQualifyForm .custCreditRangeForm .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 12px; /* Specified height */
    background: #CCCCCC; /* Grey background */
    background: linear-gradient(to right, #26D07C 0%, #26D07C 50%, #CCCCCC 50%, #CCCCCC 100%);
    outline: none; /* Remove outline */
    border-radius: 15px;
    transition: background 450ms ease-in;
    margin: 20px 0 40px;
}
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.custQualifyForm .custCreditRangeForm .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 40px; /* Set a specific slider handle width */
    height: 40px; /* Slider handle height */
    background: #26D07C; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 40px;
  }
  
  .custQualifyForm .custCreditRangeForm .slider::-moz-range-thumb {
    width: 40px; /* Set a specific slider handle width */
    height: 40px; /* Slider handle height */
    background: #26D07C; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 40px;
}
.custQualifyForm .custCreditRangeForm .custBtnWraper {
    width: 100%;
    margin: 15px 0 0;
}
.custQualifyForm .custCreditRangeForm .custBtnWraper input.btn {
    width: 100%;
    background: #26D07C;
    border-radius: 5px;
    padding: 15px 14px;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    font-family: "proxima-soft","Open Sans","Times New Roman",Times,serif;
    color: #fff !important;
}
.custCreditRangeForm .custReviews {
    text-align: center;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
    display: inline-flex;
    margin: auto;
}
.custCreditRangeForm .custReviews a {
    display: flex;
    gap: 0 10px;
    text-decoration: none;
}
.custCreditRangeForm .custReviews a .googleIcon {
    width: 16px;
    flex: 0 0 16px;
    display: flex;
    align-items: flex-start;
    padding-top: 4px;
}
.custCreditRangeForm .custReviews a .reviewContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}
.custQualifyForm .custCreditRangeForm .reviewsStarWraper .starsWraper {
    display: flex;
    align-items: center;
    gap: 5px;
}
.custQualifyForm .custCreditRangeForm .reviewsStarWraper .starsWraper .starsCount {
    color: #FA9428;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    font-family: "proxima-soft", "Open Sans", "Times New Roman", Times, serif;
}
.custQualifyForm .custCreditRangeForm .reviewsStarWraper .starsWraper .starsListing {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 0 1px;
}
.custQualifyForm .custCreditRangeForm .reviewsStarWraper .starsWraper .starsListing span {
    font-size: 0;
    display: inline-block;
    line-height: normal;
}
.custQualifyForm .custCreditRangeForm .custReviews a .reviewContent .reviewsNumber {
    font-weight: 400;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
    font-family: "proxima-soft", "Open Sans", "Times New Roman", Times, serif;
    line-height: 17px;
    opacity: 0.8;
}

body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron .container .group-middle [id*="webform-submission-main-inquiry-form-"].webform-ajax-form-wrapper,
.custSpecialistForm{
    display: none;
}
 
 
.range-input-tooltip {
    height: 35px;
    left: 10px;
    max-width: calc(100% - 20px);
    position: relative;
    width: 100%;
}
.range-input-tooltip label {
    background-color: #26D07C;
    border-radius: 0;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding: 4px 8px;
    position: absolute;
    top: -5px;
    transform: translateX(-50%);
    z-index: 1;
    border-radius: 4px;
}
.range-input-tooltip label:after {
    content: "";
    border: 5px solid transparent;
    border-top-color: #26D07C;
    left: 50%;
    margin-left: -5px;
    position: absolute;
    top: 100%;
}

@media(min-width: 1200px){
    body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron{        
        padding: 80px 120px 45px;
    }
}

@media(min-width: 991px){
    body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron{        
        padding: 80px 40px 45px;
    }
}

@media(min-width: 768px){
    body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron{        
        padding: 80px 40px 45px;
    }
}
@media(max-width: 1199px){
    body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron .container .group-middle .formTexualContent h2{
        font-size: 36px;
        margin: 0 0 10px;
        line-height: 38px;
    }
    body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron .container .group-middle .formTexualContent h3{
        font-size: 20px;
        line-height: 24px;
        margin: 0 0 15px;
    }
    body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron .container .group-middle .formTexualContent p.subPara{
        font-size: 15px;
        line-height: 22px;
    }
    body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron .container .group-middle form{
        padding: 20px !important;
    }
    body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron .container .group-middle{
        padding-left: 30px;       
    }
    body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron .container .group-middle form div[role="contentinfo"] .alert{
        margin: 0;
    }
    body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron .container .group-middle form div[role="contentinfo"] .alert ul{
        padding-left: 20px;
    }
    body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron .container .group-middle form .js-form-item{
        flex: 0 0 100%;
        width: 100%;
    }
}
@media(max-width: 991px){
    body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron .container .row{
        flex-wrap: wrap;
    }
    body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron .container .group-left,
    body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron .container .group-middle{
        width: 100%;
        padding-left: 0px;        
        margin-top: 40px;
    }
    body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron .container .group-left .custLeftColumn .imgBox img {
        width: 100%;
    }
    
    body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron .container .group-middle form .js-form-item{
        flex: 0 0 calc(50% - 5px);
        width: calc(50% - 5px);
    }
}
@media(max-width: 767px){   
    body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron .container .group-middle{
        margin-top: 0;
    } 
    body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron .container .group-middle form .js-form-item{
        flex: 0 0 100%;
        width: 100%;
    }
    body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron{
        padding-bottom: 40px;
        padding-top: 40px;
    }
    body[data-once="form-single-submit detailsAria"] #content-wrapper main .custAwardsSection{
        padding: 20px 20px 0;
    }
    body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron .container .group-middle .formTexualContent h2{
        font-size: 35px;
        line-height: 37px;
    }
    body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron .container .group-middle .formTexualContent p.subPara{
        font-size: 16px;
        line-height: 20px;
        margin: 0 0 20px;
    }
    body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron .container .quoteBox{
        font-size: 16px;
        line-height: 24px;
        padding: 20px 25px;
    }
    body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron .container .quoteBox cite{
        margin: 10px 0 0;
    }
    body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron .container .quoteBox .text:before{
        left: -20px;
    }
    body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron .container .quoteBox .text:after{
        right: -15px;
    }
    
    body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron .container .custHelpInformation.desk{
        display: none;
    }
    body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron .container .custHelpInformation.mobile{
        display: block;
        margin-top: 40px;
    }    
    body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron .container .group-left .custLeftColumn .imgBox{
        margin: 0 0 15px;
    }
    body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron .container .group-middle form p.custContactFooterContain{
        text-align: left;
    }

    .custQualifyForm{
        order: 1;
    }
    .custSpecialistForm{
        order: 4;
    }
    .custQuoteWraper {
        order: 3;
        margin: 30px 0 0;
    }
    body[data-once="form-single-submit detailsAria"] #content-wrapper main article.landing-page .node__content #tile-1778 .jumbotron .container .group-middle [id*="webform-submission-main-inquiry-form-"].webform-ajax-form-wrapper{
        order: 5;
    }
    .custHelpInformation.mobile {
        order: 2;
    }
    .custQualifyForm .custCreditRangeForm{
        padding: 32px 15px;
    }
    .custHelpInformation h4{
        font-size: 20px;
        line-height: 24px;
    }
}
</style>