.bfg__wrapper button.custWriteReviewCTA{
    color: #f7f4ec !important;
}

span.oke-sr-total-text del {
    display: none;
}

.custCheckListPdp ul {
    list-style: none;
    padding: 0;
    margin: 12px 0;
    display: flex;
    align-items: center;
    gap: 103px
}

.custCheckListPdp ul li {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #0091DA;
    font-family: work-sans,sans-serif;
}

.custCheckListPdp {
    position: relative;
        margin: 8px 0;
}

.custCheckListPdp ul li img {
    margin-right: 8px;
}

div#product-form .custom-selector.custom-selector--size {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6px;
}
div[data-section-type="product"] .product-page__top {
    margin-top: 0;
}
div#product-form {
    margin-top: 0;
}
div[data-section-type="product"] .product-price.product-price--product-info {
    margin: 12px 0 0 0;
}

div[data-section-type="product"] .custom-selector__option--color {
    margin-bottom: 0;
}

#product-form .ShoeSizeMe {
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 100%;
}

div#product-form .custom-selector.custom-selector--width {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

div#product-form .product-form__add {
    margin-top: 15px;
}

button#product-form__add-button {
    width: 100%;
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    line-height: 40px;
    padding: 10px;
}

div[data-section-type="product"] .product-info__title {
    font-size: 56px;
}

div[data-section-type="product"] .product-page__product-column .product-info__type.subhead {
    font-weight: 500;
    font-size: 20px;
}

div[data-section-type="product"] .product-price__price.headline.headline--small {
    font-size: 40px;
}

div[data-section-type="product"] .custom-selector__title, div[data-section-type="product"] .selector-wrapper label {
font-weight: 700;
    letter-spacing: 0.12em;
    font-size: 19px;
    margin-bottom: 8px;
}

div[data-section-type="product"] .custom-selector__label--size, div[data-section-type="product"] .custom-selector__label--width {
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 24px;
}

div[data-section-type="product"] .custom-selector__label--color {
    width: 32px;
    height: 32px;
}

div[data-section-type="product"] .custom-selector__note {
    margin-top: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

div[data-section-type="product"] .ssm_core.ssm_button span {
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    font-family: work-sans,sans-serif;
} 
div#product-form .custom-selector.custom-selector--width .custom-selector__title {
    width: 100%;
}

div#product-form .custom-selector.custom-selector--width .custom-selector__note {
    margin-top: 0;
}
.product-info__review-summary .oke-sr-count {
    display: none;
}

body .product-info__review-summary .okeReviews.oke-sr {
    display: flex;
    flex-wrap: wrap;
}
.custPdpReviewsWrapper span {
    font-family: unpretentious,sans-serif;
}
div#product-form .product-form__form  .custom-selector {
    margin-bottom: 0 !important;
}

div#product-form  .custom-selector__options--color {margin-bottom: 0;}
#product-form .ShoeSizeMe .ssm-container .ssm_default.ssm_primary {
    left: 0;
}
#product-form .ShoeSizeMe .ssm-container .ssm_default.ssm_primary::after {
    content: "→";
    margin-left: 7px;
    font-size: 24px;
}
main#main.bfg__wrapper div#product-info .badges {
    margin-bottom: 0;
}
main#main.bfg__wrapper div#product-info .bfg__limited-edition {
    margin: 0 0 !important;
}
main#main.bfg__wrapper div#product-info .bfg__limited-edition img {
    width: 180px;
}
/*008*/

@media screen and (min-width: 896px) {
.product-info .custProductBadgesPdp.badges {
    position: relative;
    margin-bottom: 0;
    width: 100%;
    max-width: 360px;
    text-align: right;
}
.product-info .custProductBadgesPdp .badges__image {
    position: relative;
    bottom: -30px;
}
}
@media screen and (min-width: 860px) and (max-width: 1440px) {
.custCheckListPdp ul {gap: 13px; flex-wrap: wrap;}
div[data-section-type="product"] .product-info__title {font-size: 40px;margin-bottom: 0;}
div[data-section-type="product"] .product-page__product-column .product-info__type.subhead {font-size: 16px;}
div[data-section-type="product"] .product-price__price.headline.headline--small {font-size: 32px;}
p[part="osm-message"] {font-size: 13px;}
div[data-section-type="product"] .custom-selector__label--color {width: 26px;height: 26px;}
div[data-section-type="product"] .custom-selector__option--color {margin-right: 5px;}
div[data-section-type="product"] .ssm_core.ssm_button span {font-size: 16px;}
div[data-section-type="product"] .custom-selector__label--size, div[data-section-type="product"] .custom-selector__label--width {font-size: 16px;line-height: 20px;}
button#product-form__add-button {
    font-weight: 400;
    font-size: 28px;
    padding: 8px;
    line-height: 40px;
}
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
.custCheckListPdp ul {
    flex-wrap: wrap;
    gap: 6px;
}
}
@media screen and (max-width: 767px) {
.custCheckListPdp ul {
    flex-wrap: wrap;
    gap: 9px;
}

.custCheckListPdp ul li {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

div[data-section-type="product"] .product-info__title {
    font-size: 42px;
}

div[data-section-type="product"] .product-page__product-column .product-info__type.subhead {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
}

div[data-section-type="product"] .product-price.product-price--product-info .product-price__price.headline.headline--small {
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    margin-bottom: 12px;
}

.custCheckListPdp {
    margin: 19px 0;
}

div[data-section-type="product"] .ssm_core.ssm_button span {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
}

div#product-form .custom-selector.custom-selector--width .custom-selector__note {
    line-height: 1.2;
    margin: 15px 0 0 0;
}

button#product-form__add-button {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
}

.custPdpReviews, .custCheckList, .custTestimonialsBlueWrapper{display: none;}.custTabsBlocks ul.custListingTabWrapper {
    list-style: none;
    justify-content: center;
    display: flex;
    gap: 8px;
    padding: 0;
    margin: 0;
}
.custTabsBlocks ul.custListingTabWrapper li {
    border-radius: 100px;
    border: 1px solid #1A9EE8;
    cursor: pointer;
    padding: 12px 24px;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    font-family: work-sans,sans-serif;
    color: #000;
}
.bfg__wrapper button.custWriteReviewCTA{
    color: #f7f4ec !important;
}

span.oke-sr-total-text del {
    display: none;
}

.custCheckListPdp ul {
    list-style: none;
    padding: 0;
    margin: 12px 0;
    display: flex;
    align-items: center;
    gap: 103px
}

.custCheckListPdp ul li {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #0091DA;
    font-family: work-sans,sans-serif;
}

.custCheckListPdp {
    position: relative;
        margin: 8px 0;
}

.custCheckListPdp ul li img {
    margin-right: 8px;
}

div#product-form .custom-selector.custom-selector--size {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6px;
}
div#product-form {
    margin-top: 0;
}
div[data-section-type="product"] .product-price.product-price--product-info {
    margin: 12px 0 0 0;
}

div[data-section-type="product"] .custom-selector__option--color {
    margin-bottom: 0;
}

#product-form .ShoeSizeMe {
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 100%;
}

div#product-form .custom-selector.custom-selector--width {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

div#product-form .product-form__add {
    margin-top: 15px;
}

button#product-form__add-button {
    width: 100%;
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    line-height: 40px;
    padding: 10px;
}

div[data-section-type="product"] .product-info__title {
    font-size: 56px;
}

div[data-section-type="product"] .product-page__product-column .product-info__type.subhead {
    font-weight: 500;
    font-size: 20px;
}

div[data-section-type="product"] .product-price__price.headline.headline--small {
    font-size: 40px;
}

div[data-section-type="product"] .custom-selector__title, div[data-section-type="product"] .selector-wrapper label {
font-weight: 700;
    letter-spacing: 0.12em;
    font-size: 19px;
    margin-bottom: 8px;
}

div[data-section-type="product"] .custom-selector__label--size, div[data-section-type="product"] .custom-selector__label--width {
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 24px;
}

div[data-section-type="product"] .custom-selector__label--color {
    width: 32px;
    height: 32px;
}

div[data-section-type="product"] .custom-selector__note {
    margin-top: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

div[data-section-type="product"] .ssm_core.ssm_button span {
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    font-family: work-sans,sans-serif;
} 
div#product-form .custom-selector.custom-selector--width .custom-selector__title {
    width: 100%;
}

div#product-form .custom-selector.custom-selector--width .custom-selector__note {
    margin-top: 0;
}
.product-info__review-summary .oke-sr-count {
    display: none;
}

body .product-info__review-summary .okeReviews.oke-sr {
    display: flex;
    flex-wrap: wrap;
}
.okeReviews[data-oke-container] button, div.okeReviews button {
cursor: pointer;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    font-size: 16px !important;
    letter-spacing: 0.06em;
    color: #001D34;
    font-family: unpretentious,sans-serif !important;
    margin-left: 16px !important;
}
.custPdpReviewsWrapper span {
    font-family: unpretentious,sans-serif;
}
div#product-form .product-form__form  .custom-selector {
    margin-bottom: 0 !important;
}

div#product-form  .custom-selector__options--color {margin-bottom: 0;}
#product-form .ShoeSizeMe .ssm-container .ssm_default.ssm_primary {
    left: 0;
}
#product-form .ShoeSizeMe .ssm-container .ssm_default.ssm_primary::after {
    content: "→";
    margin-left: 7px;
    font-size: 24px;
}
main#main.bfg__wrapper div#product-info .badges {
    margin-bottom: 0;
}
main#main.bfg__wrapper div#product-info .bfg__limited-edition {
    margin: 0 0 !important;
}
main#main.bfg__wrapper div#product-info .bfg__limited-edition img {
    width: 180px;
}
/*008*/
.custTabsContantWrapper.custActiveContent {
    display: block;
}
.custTabsBlocks ul.custListingTabWrapper li.custActiveTab {
    background: #1A9EE8;
    color: #fff;
}
.custPdpReviews, .custCheckList, .custTestimonialsBlueWrapper, .custTabsContantWrapper{display: none;}
.custTabsBlocks .custSignFeatures {
    margin-top: 20px;
    margin-bottom: 0;
}
.custDetails .custDescription {
    margin-top: 40px;
}
.custAbout {
    margin-top: 40px;
}
div[data-section-type="product"] .product-page__top {
    margin-bottom: 80px;
}
.custMoreLessCTA {
    cursor: pointer;
    padding: 10px 10px 30px 10px;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.72px;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #0091DA;
    font-family: unpretentious,sans-serif;
}

.custLogoListItem ul {
    padding: 8px 20px;
    margin: 0;
    list-style: none;
    display: flex;
    overflow: scroll;
    margin: 0 -40px 20px -40px;
}

.custLogoListItem ul li {
    flex: 0 0 auto;
    margin: 0 24px 0 0;
}

.custLogoListItem ul li img {
    width: 100%;
    height: 34px;
}

@media screen and (min-width: 896px) {
.product-info .custProductBadgesPdp.badges {
    position: relative;
    margin-bottom: 0;
    width: 100%;
    max-width: 360px;
    text-align: right;
}
.product-info .custProductBadgesPdp .badges__image {
    position: relative;
    bottom: -30px;
}
}
@media screen and (min-width: 860px) and (max-width: 1440px) {
.custCheckListPdp ul {gap: 13px; flex-wrap: wrap;}
div[data-section-type="product"] .product-info__title {font-size: 40px;margin-bottom: 0;}
div[data-section-type="product"] .product-page__product-column .product-info__type.subhead {font-size: 16px;}
div[data-section-type="product"] .product-price__price.headline.headline--small {font-size: 32px;}
p[part="osm-message"] {font-size: 13px;}
div[data-section-type="product"] .custom-selector__label--color {width: 26px;height: 26px;}
div[data-section-type="product"] .custom-selector__option--color {margin-right: 5px;}
div[data-section-type="product"] .ssm_core.ssm_button span {font-size: 16px;}
div[data-section-type="product"] .custom-selector__label--size, div[data-section-type="product"] .custom-selector__label--width {font-size: 16px;line-height: 20px;}
button#product-form__add-button {
    font-weight: 400;
    font-size: 28px;
    padding: 8px;
    line-height: 40px;
}
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
.custCheckListPdp ul {
    flex-wrap: wrap;
    gap: 6px;
}
}
@media screen and (max-width: 767px) {
.custCheckListPdp ul {
    flex-wrap: wrap;
    gap: 9px;
}

.custCheckListPdp ul li {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

div[data-section-type="product"] .product-info__title {
    font-size: 42px;
}

div[data-section-type="product"] .product-page__product-column .product-info__type.subhead {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
}

div[data-section-type="product"] .product-price.product-price--product-info .product-price__price.headline.headline--small {
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    margin-bottom: 12px;
}

.custCheckListPdp {
    margin: 19px 0;
}

div[data-section-type="product"] .ssm_core.ssm_button span {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
}

div#product-form .custom-selector.custom-selector--width .custom-selector__note {
    line-height: 1.2;
    margin: 15px 0 0 0;
}

button#product-form__add-button {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
/*mobile*/
.custTabsBlocks ul.custListingTabWrapper {
    padding: 20px;
}

.custTabsBlocks ul.custListingTabWrapper li {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    padding: 10px;
}

div[data-section-type="product"] .product-page__top {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.custSignFeatures .image-and-text-block__image-wrapper {
    display: none;
}
.custSignFeatures h2 {
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 3px;
}
.custSignFeatures ul li {
    color: #001D34;
    font-family: work-sans,sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 0;
}
.product-page__content-blocks .body-text-block li+li {
    margin-top: 14px;
}
.custSignFeatures + .custSignFeatures .image-and-text-block__image-wrapper {
    display: block;
}
.custDetails .custDescription .content-columns__image-wrapper {
    width: 120px;
    margin-left: auto;
    margin-right: auto;
}
.custDetails .custDescription  h3, .image-and-text-block.custAbout h3 {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    text-transform: uppercase;
    margin-bottom: 8px;
}
.custDetails .custDescription + .custDescription p, .image-and-text-block.custAbout p {
    color: #001D34;
    text-align: center;
    font-family: work-sans,sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 0;
}
.content-columns.custDescription .content-columns__column.margin-bottom {
    margin-bottom: 24px;
}
.custDetails.custTabsContantWrapper.custActiveContent .body-text-block h2 {
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 2px;
    text-align: left;
}
.custTabsBlocks .custContentHide {
    display: none;
}
.custTabsBlocks .custSignFeatures, .custDetails .custDescription {
    margin-left: 20px;
    margin-right: 20px;
}

div#alvies-reviews .margin-sides {
    margin-left: 20px;
    margin-right: 20px;
}

.image-and-text-block.custAbout {
    margin-left: 20px;
    margin-right: 20px;
}

.image-and-text-block.custAbout p {
    text-align: left;
}

.video.margin-sides.custAbout {margin-left: 20px;margin-right: 20px;}

.okeReviews[data-oke-container].oke-w .oke-is-small .oke-button, .okeReviews.oke-w .oke-is-small .oke-button {
    margin-left: 0 !important;
}
.product-images .slick-arrow--prev {
    left: 0;
}

.product-images .slick-arrow--next {
    right: 0;
}
}
@media screen and (max-width: 360px) {
.custTabsBlocks ul.custListingTabWrapper li {
    font-size: 12px;
    padding: 5px 8px;
}
.custSignFeatures h2 {
    font-size: 24px;
}
.custTabsBlocks .custSignFeatures, .custDetails .custDescription {
    margin-top: 15px;
}

.image-and-text-block.custAbout {
    margin-top: 15px;
}
}