@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

#fsb_bar.custVitaminD3HeaderBanner{
   background: #34A853 !important;
}
.custVitaminD3Stickly {
    background-color: #Fff;
    margin: auto;
    padding: 25px 22px;
    position: fixed;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%);
    z-index: 999;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    width: 100%;
    max-width: 847px;
    transition: bottom 0.2s;
}

.custVitaminD3Stickly .custVitaminD3CloseIcon {
    position: absolute;
    top: 3px;
    right: 3px;
    font-size: 16px;
    border-radius: 100%;
    cursor: pointer;
    z-index: 9999;
    color: #000;
    font-weight: 700;
    font-family: 'Unbounded';
    width: 30px;
    height: 30px;
    text-align: center;
}

.custVitaminD3Stickly .custStickyVitaminD3Wrapper .custCtaWrapper p a {
    font-family: 'Unbounded';
    display: flex;
    align-items: center;
    width: 200px;
    min-width: 200px;
    height: 48px;
    background: #34A853;
    border-radius: 100px;
    justify-content: center;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    cursor: pointer;
}

.custVitaminD3Stickly .custStickyVitaminD3Wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custVitaminD3Stickly .custStickyVitaminD3Wrapper .custMainLeftSide{
    width: 68%;
    padding-left: 4px;
    margin-bottom: 0;
}

.custVitaminD3Stickly .custStickyVitaminD3Wrapper .custLeftSection .custVitaminD3BannerHeading span {
    color: #34A853;
}

.custVitaminD3Stickly .custStickyVitaminD3Wrapper .custLeftSection .custVitaminD3BannerHeading a, .custVitaminD3Stickly .custStickyVitaminD3Wrapper .custLeftSection .custVitaminD3BannerHeading  {
    text-decoration: none;
    position: relative;
    z-index: 999;
    font-family: 'Unbounded';
    font-style: normal;
    font-weight: 500 !important;
    font-size: 24px;
    line-height: 28px;
    color: #34A853;
} 
.custVitaminD3Stickly .custStickyVitaminD3Wrapper .custLeftSection .custVitaminD3BannerHeading  {
    color: #000;
}
.custVitaminD3Stickly .custStickyVitaminD3Wrapper .custLeftSection .custVitaminD3BannerHeading a {
    margin-right: 7px;
    display: block;
}
.custVitaminD3Stickly .custStickyVitaminD3Wrapper .custLeftSection .custVitaminD3SubHeading {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.06em;
}
.custVitaminD3SubHeading p {
    font-family: 'Unbounded';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}
.custVitaminD3Stickly .custStickyVitaminD3Wrapper .img-wrapper {
    position: absolute;
    left: 20px;
    top: -28px;
    text-align: left;
}

.custVitaminD3Stickly .custStickyVitaminD3Wrapper .custCtaWrapper{
    position: relative;
    z-index: 9;
}

.custStickyVitaminD3Wrapper .imgWrapper {
position: absolute;
    left: 15px;
    top: 5px;
    text-align: left;
    width: 96px;
    bottom: 0;
    height: 96px;
}

.custStickyVitaminD3Wrapper .imgWrapper img {
width: 96px;
    height: 96px; 
    object-fit: cover;
    object-position: center;
}
.custStickyVitaminD3Wrapper .imgWrapper img.imgMobile{
    display: none;
}

.custVitaminD3Stickly .custTrendingBadge {
    position: absolute;
    top: -25px;
    background: #fad951;
    z-index: 1;
    font-family: IBM Plex Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.05em;
    text-align: left;
    padding: 2.5px 16px;
    border-radius: 12px 12px 0 0;
    display: flex;
    gap: 0 8px;
    left: 50%;
    margin-left: -63px;
}

.custVitaminD3Stickly .custStickyVitaminD3Wrapper .custMainLeftSide .custLeftSection {
    align-items: flex-start;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
/*PDP Banner*/
.custVitaminD3TopBanner {
    width: calc(100% - 40px);
    margin: 4px 20px;
    background: linear-gradient(99.93deg, rgba(254, 247, 231, 0.16) 34.81%, rgba(56, 233, 103, 0.166) 51.27%), rgba(255, 235, 209, 0.86);
    border-radius: 12px;
}

.custVitaminD3BannerTopHeading *, .custVitaminD3BannerTopHeading {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Unbounded';
}

.custVitaminD3BannerTopHeading {
    text-align: center;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
}

.custVitaminD3BannerTopHeading span {
    color: #34A853;
    margin-right: 7px;
}
/*Top header Banner*/
.custVitaminD3Timer {
    background: #fff;
    color: #000;
    font-weight: 700;
    padding: 2px 10px;
    border-radius: 5px;
 }
  
  
 div#fsb_bar *, div#fsb_bar {
    font-family: 'Unbounded' !important;
    font-weight:400;
 }
    div#fsb_bar *{ font-weight:600;}

.custVitaminD3Timer {
        margin-left: 6px;
}

html[lang="es"] .custVitaminD3Stickly .custStickyVitaminD3Wrapper .custCtaWrapper p a {
    padding: 0 20px;
    width: auto;
}
html[lang="es"] .custVitaminD3Stickly .custStickyVitaminD3Wrapper .custLeftSection .custVitaminD3BannerHeading a, 
html[lang="es"] .custVitaminD3Stickly .custStickyVitaminD3Wrapper .custLeftSection .custVitaminD3BannerHeading{
    font-size: 23px;
}

#fsb_bar.custVitaminD3HeaderBanner .custVitaminD3TimerCopy:before {
    content: '';
    width: 10px;
    height: 2px;
    background: #fff;
    display: inline-block;
    vertical-align: middle;
    margin: 0 6px;
}

.custVitaminD3heading{
    font-weight: 700 !important;
}
.custVitaminD3SaveCopy{
    font-weight: 500 !important;
}
.custVitaminD3TimerCopy{
    font-weight: 400 !important;
}


/*media*/
@media(min-width: 768px) and (max-width: 991px){
    html[lang="es"] .custVitaminD3heading {
        display: block;
    }    
    html[lang="es"] .shopify-section--header div#fsb_container {
        height: 65px !important;
    }
}
@media only screen and (max-width: 767px) {
    .custVitaminD3BannerTopHeading {
        flex-wrap: wrap;
        height: auto;
        padding: 12px;
    }
    
    .custVitaminD3BannerTopHeading *, .custVitaminD3BannerTopHeading {
        font-size: 16px;
        line-height: 24px;
    }
    
    .custVitaminD3TopBanner {
        margin: 5px auto 0 auto;
    }

    .custVitaminD3heading {
        display: block;
        font-size: 16px !important;
        margin-bottom: 2px;
    }
     
    div#fsb_bar {
        text-align: left !important;
        font-size: 12px !important;
    }
     
    .custVitaminD3Timer {
        margin-left: 5px;
    }
    html body.myvida001 #section-header {
        position: relative;
        top: 10px;
    }
}
/*designer1*/
@media screen and (min-width: 992px) {
    .custVitaminD3Stickly .img-wrapper .img-mobile {
        display: none;
    }
}

@media only screen and (max-width: 991px) {
    .custVitaminD3Stickly {
        bottom: 5px;
        transition: bottom 0.8s;
        padding: 10px;
    }

    .custVitaminD3Stickly .custStickyVitaminD3Wrapper .img-wrapper img {
        max-width: 100%;
    }

    .custVitaminD3Stickly .img-wrapper {
        right: 50px;
        bottom: 2px !important;
        max-width: 110px;
        top: auto !important;
        text-align: right;
        left: 0 !important;
    }

    .custVitaminD3Stickly .custStickyVitaminD3Wrapper .custLeftSection .custVitaminD3SubHeading {
        font-size: 13px;
        line-height: 16px;
    }

    .custVitaminD3Stickly .custStickyVitaminD3Wrapper .img-wrapper img {
        width: 90%;
    }

    .custVitaminD3Stickly .custStickyVitaminD3Wrapper .custLeftSection .custVitaminD3BannerHeading{
        margin-bottom: 5px;
    }
    .custVitaminD3Stickly .custStickyVitaminD3Wrapper .custCtaWrapper{
        flex: 0 0 180px;
    }
    .custVitaminD3Stickly .custStickyVitaminD3Wrapper .custCtaWrapper p {
        width: 100%;
        padding-left: 0px;
        margin-left: auto;
    }

    .custVitaminD3Stickly .custStickyVitaminD3Wrapper {
        align-items: center;
        width: 100%;
    }

    .custVitaminD3Stickly .custStickyVitaminD3Wrapper .custMainLeftSide {
        width: 100%;
        display: flex;
        gap: 20px;
    }

    .custVitaminD3Stickly::after {
        display: none;
    }

    .custVitaminD3Stickly::before {
        background-image: url(https://d27c6j8064skg9.cloudfront.net/growthHit/TRTL/test55/Recmob.png) !important;
        background-size: contain;
        width: 30%;
    }

    .custVitaminD3Stickly {
        width: 95%;
    }

    .custVitaminD3Stickly .img-wrapper .imgDesktop {
        display: none;
    }

    .custStickyVitaminD3Wrapper .imgWrapper {
        flex: 0 0 80px;
        left: 4px;
        top: 14px;
        position: inherit;
    }
    .custStickyVitaminD3Wrapper .imgWrapper img{        
        margin: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }    
    html[lang="es"] .custVitaminD3Stickly .custStickyVitaminD3Wrapper .custCtaWrapper p a {
        flex: 0 0 auto;
        white-space: nowrap;
    }    
}

@media(max-width:567px) {
    .custVitaminD3BannerHeading {
        padding-right: 0px;
    }
    
    .custVitaminD3Stickly .custStickyVitaminD3Wrapper .custLeftSection .custVitaminD3BannerHeading {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        margin: 0 0 2px;
    }

    .custStickyVitaminD3Wrapper .imgWrapper {
        flex: 0 0 80px;
        left: 4px;
        top: 14px;
    }

    .custVitaminD3Stickly .custStickyVitaminD3Wrapper .custCtaWrapper{
        width: 100%;
        flex: 1;
        margin-top: 10px;
    }
    .custVitaminD3Stickly .custStickyVitaminD3Wrapper{
        flex-direction: column;
    }
    .custMaySaleEventSticklyV1 .custStickyVitaminD3Wrapper .custLeftSection .custVitaminD3SubHeading{
        display: none;
    }
    .custStickyVitaminD3Wrapper .imgWrapper img.imgMobile{
        display: block;
    }
    .custStickyVitaminD3Wrapper .imgWrapper img.imgDesktop{
        display: none;
    }

    .custVitaminD3Stickly .custStickyVitaminD3Wrapper .custCtaWrapper p a {
    width: 100%;
    }

    
    html[lang="es"] .custVitaminD3Stickly .custStickyVitaminD3Wrapper .custLeftSection .custVitaminD3BannerHeading a, 
    html[lang="es"] .custVitaminD3Stickly .custStickyVitaminD3Wrapper .custLeftSection .custVitaminD3BannerHeading,
    .custVitaminD3Stickly .custStickyVitaminD3Wrapper .custLeftSection .custVitaminD3BannerHeading a, .custVitaminD3Stickly .custStickyVitaminD3Wrapper .custLeftSection .custVitaminD3BannerHeading  {
        line-height: 28px;
        font-size: 20px;
        padding: 0 2px;
    }

    .custVitaminD3Stickly .custStickyVitaminD3Wrapper .custMainLeftSide {
        gap: 12px;
        text-align: center;
    }
    .custVitaminD3Stickly .custStickyVitaminD3Wrapper .custLeftSection .custVitaminD3BannerHeading a {
        display: inline-block;
    }
    .custVitaminD3SaveCopy{
        margin: 0 3px 0 0;
    }
    html[lang="es"] .custVitaminD3SaveCopy{
        display: block;
    }
    #fsb_bar.custVitaminD3HeaderBanner .custVitaminD3TimerCopy:before {
        display: none;
    }
    html[lang="es"] .shopify-section--header div#fsb_container {
        height: 70px !important;
    }
}


@media screen and (max-width: 500px) {
    .custVitaminD3Stickly .custStickyVitaminD3Wrapper .custLeftSection .custVitaminD3SubHeading{
        display: none;
    }
}
@media screen and (max-width: 375px) {
.custVitaminD3heading {
    font-size: 14px !important;
}
 
div#fsb_bar {
    text-align: left !important;
    font-size: 10px !important;
}
}