<style>
  body{
    opacity: 0;
  }  

.custFAQwrapperMobCtrl h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: left;
    margin: 0 0 40px 0;
    font-family: Tisa Pro;
    letter-spacing: -0.8px;
    color: #3E5569;
}

.custAccordionMobCtrlHeaderMobCtrl a {
    color: #2f2f2f;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}
.custMImageMobCtrl{display: none;}
.custHowItWorksVideoPopupMobCtrl video {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.custBannerReviewQuotesMobCtrl img {display: block;}
.custWorksOnAnyMirrorMobCtrl ul li a::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.custWorksOnAnyMirrorMobCtrl ul li {position: relative;}
.custWorksOnAnyMirrorMobCtrl ul li a span {
    width: 25px;
    margin-right: 10px;
}
div#shopify-section-1617690624afb5eec3 .wrapper:before {
    content: "" !important;
}
 
/*media*/
@media screen and (min-width: 1300px) {
    .custSeeForYourselfMobCtrl{
        max-width: 1366px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1440px) {
    .custReviewWrapperMobCtrl p {
        padding-right: 0;
    }

    #shopify-section-sswinstagram .container {
        padding: 0 40px;
    }

    div#shopify-section-1617690624afb5eec3 .contain-full-width {
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (max-width: 1366px) {
    .custGuaranteeWrapperBlockMobCtrl .custWhiteBgMobCtrl ul li {
        margin-left: 50px;
    }
}

@media screen and (max-width: 1199px) {
    .custRightBannerImgMobCtrl {
        width: 50%;
    }

    .custLeftBannerContentMobCtrl {
        width: 50%;
    }

    .custLeftBannerContentMobCtrl ul li span {
        width: 100%;
        display: block;
        margin: 10px 0 0 0;
    }

    .custLeftBannerContentMobCtrl ul li {
        flex-wrap: wrap;
        justify-content: center;
    }

    .custLeftBannerContentMobCtrl h3 {
        font-size: 36px;
        line-height: 1.3;
    }
}

@media screen and (max-width: 1024px) {
    .custLeftBannerContentMobCtrl h3 {
        font-size: 36px;
        line-height: 1.3;
    }

    .custWorksOnAnyMirrorMobCtrl h2,
    .custCommonHeadingMobCtrl h2,
    .custCommonHeadingMobCtrl h2,
    .custReviewRatingStars h3,
    .custCommonHeadingMobCtrl h2,
    .custGuaranteeTitleBgMobCtrl,
    .custCommonHeadingMobCtrl h2,
    div#shopify-section-sswinstagram h2,
    div#shopify-section-1617690624afb5eec3 h1 {
        font-size: 30px;
        line-height: 1.3;
    }
}
@media screen and (max-width: 860px) {
    .custLeftBannerContentMobCtrl {
        width: 100%;
        padding: 0;
        margin-bottom: 15px;
    }

    .custClientReviewSlider .slick-list {
        padding-left: 0 !important;
    }

    .custLeftBannerContentMobCtrl ul {
    background: #f2f6ff;
    justify-content: space-between;
    padding: 10px 15px;
    margin-bottom: 30px;
    gap: 0;
    }

    .custMirrorMateHtmlSectionMobCtrl .container {
        padding: 0;
        align-items: flex-start;
    }

    .custLeftBannerContentMobCtrl ul li {
        text-align: center;
    }

    .custReviewContentMobCtrl {
        justify-content: center;
        font-size: 14px;
        font-weight: 400;
        color: #666;
    }

    .custLeftBannerContentMobCtrl h3,
    .custLeftBannerContentMobCtrl p {
        text-align: center;
        max-width: 100%;
    }

    .custLeftBannerContentMobCtrl h3 {
        font-size: 56px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        padding: 0;
        max-width: 340px;
        margin: 0 auto;
    }

    .custLeftBannerContentMobCtrl p {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        width: calc(100% - 30px);
        margin-left: auto;
        margin-right: auto;
    }

    .custLeftBannerContentMobCtrl a.custBlueButtonMobCtrl {
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
        width: calc(100% - 30px);
        font-weight: 600;
        padding: 16px 32px;
    }

    .custLeftBannerContentMobCtrl a.custBlueButtonMobCtrl+img {
        display: none;
    }

    .custRightBannerImgMobCtrl {
        width: 100%;
        max-width: 100%;
            height: auto;
    }

    .custRightBannerImgMobCtrl img {
        width: 100%;
        max-width: 100%;
        display: block !important;
    }

    .custAsSeenLogosBlockMobCtrl ul li {
        flex: 0 0 auto;
    }

    .custAsSeenLogosBlockMobCtrl ul li img {
        text-align: center;
        height: 50px;
    }

    .custAsSeenLogosBlockMobCtrl ul {
        overflow-x: auto;
        display: flex;
        gap: 30px;
        justify-content: flex-start;
    }

    .custAsSeenLogosBlockMobCtrl {
        padding: 0 0 0 15px;
    }

    .custWorksOnAnyMirrorMobCtrl {
        padding: 30px 15px;
        width: 100%;
    }

    .custWorksOnAnyMirrorMobCtrl ul {
        display: flex;
        flex-wrap: wrap;
        grid-gap: 0;
        justify-content: space-between;
        align-items: self-start;
    }

    .custWorksOnAnyMirrorMobCtrl ul li:first-child {
        width: 100%;
        text-align: center;
    }

    .custWorksOnAnyMirrorMobCtrl ul li {
        width: calc(50% - 10px);
        text-align: center;
    }

    .custWorksOnAnyMirrorMobCtrl ul li img.custMImageMobCtrl{
        width: 100%;
    }

    .custWorksOnAnyMirrorMobCtrl ul li h4 {
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        color: #3E5569;
    }

    .custWorksOnAnyMirrorMobCtrl ul li:first-child h2 {
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: -0.84px;
        margin-bottom: 24px;
        margin-left: auto;
        margin-right: auto;
    }

    .custMostPopulerColorMobCtrl {
        padding: 30px 15px;
    }

    button.slick-next.slick-arrow,
    button.slick-prev.slick-arrow {
        display: none !important;
    }

    ul.slick-dots li button {
        text-indent: -1000px;
    }

    .custWorksOnAnyMirrorMobCtrl h2,
    .custCommonHeadingMobCtrl h2,
    .custCommonHeadingMobCtrl h2,
    .custReviewRatingStars h3,
    .custCommonHeadingMobCtrl h2,
    .custGuaranteeTitleBgMobCtrl,
    .custCommonHeadingMobCtrl h2,
    div#shopify-section-sswinstagram h2,
    div#shopify-section-1617690624afb5eec3 h1 {
        font-weight: 400;
        font-size: 28px;
        text-align: center;
        color: #3E5569;
        line-height: 32px;
        letter-spacing: -0.84px;
    }

    .custCommonHeadingMobCtrl p {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 25px;
    }

    .custCommonHeadingMobCtrl h2 {
        margin-bottom: 5px;
    }

    ul.slick-dots {
        margin-top: 25px;
    }

    .custSlickColorSliderMobCtrl a.custBlueButtonMobCtrl {
        margin-top: 25px;
        padding: 16px 35px;
        font-weight: 600;
    }

    .custFramesSoldBlockMobCtrl.custCommonHeadingMobCtrl {
        padding: 25px 0;
        margin-top: 25px;
    }

    .custFramesSoldBlockMobCtrl h2 {
        margin-bottom: 0;
    }

    .custClientReviewSlider {
        padding-top: 30px;
    }

    .custHowItsWorkBlockMobCtrl {
        padding: 30px 15px;
    }

    .custHowItsWorkBlockMobCtrl .col-md-6 {
        width: 100%;
    }

    .custHowItsWorkBlockMobCtrl .col-md-6:last-child {
        padding: 0;
    }

    .custHowItsWorkBlockMobCtrl .col-md-6:last-child h2 {font-size: 28px;font-style: normal;font-weight: 400;line-height: 32px; /* 114.286% */letter-spacing: -0.84px;color: #3e5569;margin-bottom: 10px;}

    .custHowItsWorkBlockMobCtrl .col-md-6:last-child p {
        margin-bottom: 25px;
        font-weight: 400;
    }

    .custHowItsWorkBlockMobCtrl ul {
        padding-bottom: 25px;
        flex-wrap: wrap;
        display: flex;
        text-align: left;
        justify-content: stretch;
    }

    .custHowItsWorkBlockMobCtrl ul li {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        flex: 0 0 100%;
        justify-content: start;
    }

    .custHowItsWorkBlockMobCtrl ul li::before {
        margin: 0 10px 0 0;
    }

    .custHowItsWorkBlockMobCtrl a.custBlueButtonMobCtrl {
        margin: 0 !important;
        width: 100%;
    }
.custHowItsWorkBlockMobCtrl a.custBlueButtonMobCtrl:last-child{
    margin-top: 15px !important;
}
    .custHowItWorksVideoPopupMobCtrl iframe.wistia_embed {
        display: none;
    }
    .custLeftBannerContentMobCtrl ul li span {
        font-weight: 500;
        font-size: 13px;
        line-height: 15px;
    }

    .custClientReviewSlider .custReviewWrapperMobCtrl div * {
        text-align: left;
    }

    .custReviewWrapperMobCtrl h5 {
        display: none;
    }

    .custClientReviewSlider .custReviewWrapperMobCtrl p {
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .custReviewClientInfoMobCtrl small {
        display: none;
    }

    .custClientReviewSlider ul.slick-dots {
        margin: 25px 30px 0 30px;
        flex-wrap: wrap;
        gap: 6px;
    }

    .custGuaranteeWrapperBlockMobCtrl {
        padding: 0 15px 25px 15px;
    }

    .custGuaranteeWrapperBlockMobCtrl .custWhiteBgMobCtrl {
        flex-wrap: wrap;
        padding: 20px 15px;
        margin-bottom: 0;
    }

    .custGuaranteeWrapperBlockMobCtrl .custWhiteBgMobCtrl ul {
        margin: 0 auto;
        display: inline-block;
    }

    .custGuaranteeTitleBgMobCtrl {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .custGuaranteeTitleBgMobCtrl img {
        margin: 0 0 10px 0;
        width: 48px;
    }

    .custGuaranteeWrapperBlockMobCtrl .custWhiteBgMobCtrl ul li {
        margin: 0 0 8px 0;
        width: 100%;
        padding: 0 70px;
        padding: 0 10px;
    }

    .custGuaranteeWrapperBlockMobCtrl .custWhiteBgMobCtrl ul li span {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: #2F2F2F;
    }

    .custRealCustomersSectionMobCtrl.custCommonHeadingMobCtrl {
        padding: 30px 15px 30px 15px;
    }

    .custMainVideoBlock {
        margin-top: 25px;
    }

    .custRealCustomersSectionMobCtrl a.custBlueButtonMobCtrl {
        margin-top: 30px;
    }

    div#shopify-section-sswinstagram h2 {
        margin-bottom: 30px;
    }

    .ssw-instagram-load-more {
        margin-bottom: 30px !important;
    }

    .ssw-instagram-listing,
    .ssw-instagram-grid {
        margin-bottom: 30px !important;
    }

    #shopify-section-sswinstagram .container {
        padding: 0 15px;
    }

    div#shopify-section-1617690624afb5eec3 {
        margin-bottom: 30px;
        padding: 0 15px;
    }

    div#shopify-section-1617690624afb5eec3 .contain-full-width {
        padding-top: 30px;
    }

    div#shopify-section-1617690624afb5eec3 .wrapper {
        flex-wrap: wrap;
    }

    div#shopify-section-1617690624afb5eec3 .wrapper:after {
        width: 100%;
        min-height: 250px;
        background-size: cover;
        order: 1;
    }

    .custom-content-container.align-left {
        width: 100%;
        order: 2;
        padding: 25px 0 0 0;
    }

    a.custBlueButtonMobCtrl {
        width: 100%;
    }

    div#shopify-section-1617690624afb5eec3 .richtext p {
        text-align: center;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
    }

    .richtext a.custBlueButtonMobCtrl {
        margin-top: 30px;
        text-align: center;
        font-weight: 400;
    }

    .custBannerReviewQuotesMobCtrl ul {
        display: none;
    }

    .custBannerReviewQuotesMobCtrl span {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        display: block;
        text-align: left;
        font-family: Open Sans,sans-serif;
        color: #000;
        letter-spacing: -0.28px;
    }

    .custBannerReviewQuotesMobCtrl {
        text-align: left;
        left: 16px;
        bottom: 5px;
        width: calc(100% - 30px);
    } 
    .custRealCustomersSectionMobCtrl ul.slick-dots {
        display: flex !important;
    }
 
    .custClientReviewSlider {
        padding-left: 0;
    }

    .custBannerReviewQuotesMobCtrl span strong {
        display: inline-block;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
    }
    .custBannerFullBgMobCtrl {
    background-image: none;
}

.customButtonGroupMobCtrl {
    padding: 0 15px;
}
.custWorksOnAnyMirrorMobCtrl ul li a {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    margin-top: 8px;
    padding: 0 0;
    text-align: left;
    justify-content: center;
}

.custWorksOnAnyMirrorMobCtrl ul li a::after {
 display: none; 
}
.custRightBannerImgMobCtrl img {
    display: none;
}

.custBannerReviewQuotesMobCtrl img {
    display: block;
}

img.custDImageMobCtrl {
    display: none;
}

img.custMImageMobCtrl {
    display: block;
}

.custHowItWorksVideoPopupMobCtrl video {
    width: 100%;
    border-radius: 5px;
    min-height: inherit !important;
    height: 100% !important;
}

.custHowItWorksVideoPopupMobCtrl {
    margin-bottom: 25px;
}

.custSeeForYourselfMobCtrl {
    padding: 30px 15px;
}

.custSeeForYourselfMobCtrl .custcol6 {
    width: 100%;
}

.custSeeForYourselfMobCtrl .custcol6 img {
    border-radius: 5px;
}

.custSeeForYourselfMobCtrl .custcol6:last-child {
    padding: 25px 0 0 0;
    text-align: center;
}

.custSeeForYourselfMobCtrl .custcol6 h2, .custSeeForYourselfMobCtrl .custcol6 p {
    text-align: center;
}

.custSeeForYourselfMobCtrl .custcol6 h2 {
    font-weight: 400;
    font-size: 28px;
    text-align: center;
    color: #3E5569;
    line-height: 32px;
    letter-spacing: -0.84px;
}

.custSeeForYourselfMobCtrl .custcol6 p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.32px;
}

.custSeeForYourselfMobCtrl .custcol6 a.custBlueButtonMobCtrl {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
}

.custFAQwrapperMobCtrl h2 {
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.84px;
    text-align: center;
}

.custFAQBlockMobCtrl {padding: 30px 15px;}
.custHowItsWorkBlockMobCtrl  .customButtonGroupMobCtrl {
    padding: 0;
}
.custWorksOnAnyMirrorMobCtrl ul li a span img {
    width: 25px;
    margin-right: 10px;
}

.custWorksOnAnyMirrorMobCtrl ul li a span {
    display: inline-block;
    margin-right: 0;
    flex: 0 0 24px;
}

.custWorksOnAnyMirrorMobCtrl ul li a span img {
    width: 20px;
}
}

@media screen and (max-width: 767px) {
    .custReviewContentMobCtrl img{
        display: none;
    }
    .custClientReviewSlider .custReviewWrapperMobCtrl {
        margin: 0 5px;
        align-items: flex-start;
    }

    .custClientReviewSlider .custCommonHeadingMobCtrl p {
        font-size: 14px;
        line-height: 20px;
    }

    .custClientReviewSlider .custReviewWrapperMobCtrl div img {
        height: 14px;
    }

    .custReviewWrapperMobCtrl div {
        padding: 10px 7px 7px 7px;
    }

    .custMainVideoBlock .slick-slide::after, .custMainVideoBlock .slick-slide::before {
        content:"";
        width: 40% ;
        height: calc(100% - 25px);
        position: absolute;
        left: 0;
        top: 0;
        z-index: 999999;
    }

    .custMainVideoBlock .slick-slide {
        position: relative;
    }

    .custMainVideoBlock .slick-slide::before {
        right: 0;
        left: auto;
    }

}

@media screen and (max-width: 640px) {

    .custSlickSliderWrapperMobCtrl .slick-track {
        display: flex;
    }

    .custColorFrameBoxWrapperMobCtrl {
        height: 100%;
        margin: 0 5px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }

    .custColorFrameBoxWrapperMobCtrl h5 {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        min-height: 54px;
        display: flex;
        align-items: center;
        justify-content: center;
    } 
        .custLeftBannerContentMobCtrl a.custBlueButtonMobCtrl {
            width: 100%;
            margin-left: 0 !important;
            margin-bottom: 15px;
        }

        .customButtonGroupMobCtrl {
            flex-wrap: wrap;
        }
}  
</style>  