body.product-enhancedwithmessage .promise-img-mobile,
.section-product-benefit .tab-wrapper h3.tab-title,
body.product-enhancedwithmessage .section-product-bottom #shopify-section-jsc-product-pdp,
body.product-enhancedwithmessage .section-promise,
body.product-enhancedwithmessage .section-marque,
body.product-enhancedwithmessage .section-customer-result{
    display: none;
}
.section-product-benefit{
    padding: 0;
    background: none;
}
.section-product-benefit .product-benefit-image{
    display: none;
}
.section-product-benefit .tab-wrapper{
    padding: 0;
}
.section-product-benefit .tab-wrapper .tabs__info--tabs{
    display: flex;
    flex-direction: column;
    border-top: 1px solid #ccc;
}
.section-product-benefit .tab-wrapper .tabs__info--tabs__tab:nth-child(1){
    order: 2;
}
.section-product-benefit .tab-wrapper .tabs__info--tabs__tab:nth-child(2){
    order: 3;
}
.section-product-benefit .tab-wrapper .tabs__info--tabs__tab:nth-child(3){
    order: 4;
}
.section-product-benefit .tab-wrapper .tabs__info--tabs__tab:nth-child(4){
    order: 5;
}
.section-product-benefit .tab-wrapper .tabs__info--tabs__tab:nth-child(5){
    order: 1;
}
.section-product-benefit .tab-wrapper .tabs__info--tabs__tab:after{
    font-size: 0;
    background: url(https://growth-hit.s3.us-west-2.amazonaws.com/emuaid/thick-arrow.svg) no-repeat center center;
}
.section-product-benefit .tab-wrapper .tabs__info--tabs__tab.expanded:after{
    transform: rotate(180deg);
}
@media(max-width: 768px){
    body.product-enhancedwithmessage .section-product-bottom{
        padding-top: 30px;
    }
}