<style>
.navbar > .container-fluid .navbar-brand a svg#site-logo {
    display: none;
}
  
.customNavMenu {
  cursor : pointer;
}

.jumbotron.generic_header.top-header-strip-wrapper{
    display: none;
}

.custSitewideNavBanner {
    background: url(https://www.bromwichandsmith.com/themes/custom/thsbootstrap/assets/images/layout/generic_plus_left_3.png) 0% 50% no-repeat;
    background-color: #26d07c;
    color: #fff;
    line-height: 24px;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    padding: 8px 10px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 16px;
    font-family: "proxima-soft", "Open Sans", "Times New Roman" !important;
}

.custSitewideNavBanner a {
    color: #fff;
    font-weight: 600;
    text-align: center;
    position: relative;
    margin-left: 0px;
    display: inline-block;
    font-size: 20px;
    line-height: 24px;
    padding: 8px 16px;
    background: #53565A;
    border-radius: 4px;
    font-family: "proxima-soft", "Open Sans", "Times New Roman" !important;
}
  
.custSitewideNavBanner a:hover{
  text-decoration: none;
}  

@media (min-width: 768px){
    .navbar-fixed-top{
        min-height: 162px;
        height: 162px;
    }
}

@media(max-width: 1167px){
    .custSitewideNavBanner {        
        background-image: none;
    }
}

@media(max-width: 767px){
    .custSitewideNavBanner {
        line-height: 24px;
        text-align: left;
        font-size: 22px;
    }
    .custSitewideNavBanner a {
        line-height: 20px;
        font-size: 18px;
        padding: 8px;
        border-radius: 0px;
        max-width: 175px;
        width: 100%;
    }
}
  
/* CSS To fix desktop navigation issue */

@media (min-width: 1200px) {
    .navbar-fixed-top .block--mainlogo {
        width: auto;
    }

    .nav-wrapper .navbar .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .container-fluid .collapse.navbar-collapse {
        width: auto;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .navbar-we-mega-menu ul.we-mega-menu-ul.nav-tabs li {
        padding-left: 0 !important;
        padding-right: 10px;
    }

    .navbar-header+.container {
        width: calc(100% - 30px);
    }

    .container-fluid .collapse.navbar-collapse {
        width: 100%;
    }

    .nav-wrapper .navbar .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-fixed-top .collapse.navbar-collapse .navbar-left .navbar-nav>li>a{
    	padding-top: 0;
    }
}

@media (min-width: 992px) and (max-width: 1050px) {
	.navbar-header+.container {
        width: 100%;
    }
}  
</style>