section.main-banner button.arw-btn-primary-borderless,
section.main-banner .bm-container .bm-arw-home-text{
    display: none;
}

.custFreeQuoteWraper .formWraper {
    display: flex;
    gap: 0 20px;
    justify-content: space-between;
}

.custFreeQuoteWraper {
    padding: 20px;
    background: linear-gradient(0deg, #0F1138, #0F1138), url(image.png);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}

.custFreeQuoteWraper h4 {
    color: #fff;
    font-weight: 700;
    font-size: 21px;
    line-height: 24px;
    font-family: 'Roboto';
    margin: 0 0 16px;
}

.custFreeQuoteWraper .formWraper input.field {
    flex: 1;
    padding: 12px !important;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 2px;
}

.custFreeQuoteWraper .formWraper button.custButton {
    height: 50px !important;
    text-align: center;
    background-color: var(--green) !important;
    padding: 12px 24px !important;
    border-radius: 2px !important;
    color: white !important;
    font-size: 18px !important;
    text-transform: uppercase !important;
    font-weight: 500 !important;
    border: 1px solid var(--green);
    line-height: 24px;
    font-family: 'Roboto';
}
@media(max-width: 1200px){
    .custFreeQuoteWraper .formWraper button.custButton {
        flex: 1;
        padding: 12px 0px !important;
    }   
}
@media(max-width: 575px){
    .custFreeQuoteWraper{
        padding: 15px;
    }
    .custFreeQuoteWraper h4{
        line-height: 28px;
    }
    .custFreeQuoteWraper .formWraper{
        flex-direction: column;
        gap: 10px 0;
    }
    .custFreeQuoteWraper .formWraper button.custButton{
        width: 100%;
    }
}