#shopify-section-template--22375848968385__partners,
.custPositionCover, #image-wrapper-37705090269377-57075-779819,.custImageDiv, .custLogoSectionWithoutSlider {
  display: none;
}
.custPartnersMainSp {
  padding-top: 20px;
  padding-bottom: 20px;
}

.custPartnersMainSp .swiper.custPartnerslider {
  margin: 0;
}

.custPartnersMainSp .swiper.custPartnerslider .custPartnerBox {
  text-align: center;
}
.custPartnersMainSp .swiper.custPartnerslider .custPartnerBox p {
  font-size: 18px;
  line-height: 24px;
  margin: 0 0 24px;
}
.custPartnersMainSp .custSliderControls {
  margin: 30px 0 0;
  display: none;
}

.custPartnersMainSp .custSliderControls span.swiper-pagination-bullet {
  width: 24px;
  height: 3px;
  border-radius: 0;
  background: #000;
  opacity: 0.2;
}
.custPartnersMainSp .custSliderControls span.swiper-pagination-bullet-active {
  opacity: 0.5;
}

.custPartnersMainSp .custGlobalReview {
  max-width: 400px;
  margin: 60px auto 0;
  font-family: Schibsted Grotesk;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-align: center;
  letter-spacing: normal;
}

.custPartnersMainSp .custGlobalReview span.stars {
  display: block;
  height: 25px;
  position: relative;
  width: 120px;
  margin: 0 auto 8px;
  background-image: url("data:image/svg+xml;charset=UTF-8, %3Csvg%20width%3D%2280%22%20height%3D%2214%22%20viewBox%3D%220%200%2080%2014%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22%23FFB829%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M71.996%2011.368l-3.94%202.42c-.474.292-.756.096-.628-.443l1.074-4.53-3.507-3.022c-.422-.363-.324-.693.24-.74l4.602-.37%201.778-4.3c.21-.51.55-.512.762%200l1.78%204.3%204.602.37c.552.046.666.37.237.74l-3.507%203.02%201.075%204.532c.127.536-.147.74-.628.444l-3.94-2.422zM55.996%2011.368l-3.94%202.42c-.474.292-.756.096-.628-.443l1.074-4.53-3.507-3.022c-.422-.363-.324-.693.24-.74l4.602-.37%201.778-4.3c.21-.51.55-.512.762%200l1.78%204.3%204.602.37c.552.046.666.37.237.74l-3.507%203.02%201.075%204.532c.127.536-.147.74-.628.444l-3.94-2.422zM40.123%2011.368l-3.94%202.42c-.475.292-.756.096-.63-.443l1.076-4.53-3.508-3.022c-.422-.363-.324-.693.24-.74l4.602-.37%201.778-4.3c.21-.51.55-.512.762%200l1.778%204.3%204.603.37c.554.046.667.37.24.74l-3.508%203.02%201.075%204.532c.127.536-.147.74-.628.444l-3.94-2.422zM24.076%2011.368l-3.94%202.42c-.475.292-.757.096-.63-.443l1.076-4.53-3.507-3.022c-.422-.363-.324-.693.238-.74l4.603-.37%201.78-4.3c.21-.51.55-.512.76%200l1.78%204.3%204.602.37c.554.046.667.37.24.74l-3.508%203.02%201.074%204.532c.127.536-.146.74-.628.444l-3.94-2.422zM8.123%2011.368l-3.94%202.42c-.475.292-.756.096-.63-.443l1.076-4.53L1.12%205.792c-.422-.363-.324-.693.24-.74l4.602-.37%201.778-4.3c.21-.51.55-.512.762%200l1.778%204.3%204.603.37c.554.046.667.37.24.74l-3.508%203.02%201.075%204.532c.127.536-.147.74-.628.444l-3.94-2.422z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-size: 120px 25px;
  background-repeat: no-repeat;
}

.custReviewWrapper p {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #000;
}
 
.custReviewWrapper img {
  height: 17px;
  width: auto !important;
}
 
.custNewBannerTital h2 {
  font-size: 36px !important;
  font-weight: 700 !important;
  line-height: 36px;
  font-family: ibm-plex-sans, sans-serif !important;
  margin-top: 6px;
}
 
.custNewBannerTital .lh-sm p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 6px;
}
 
.custLogoList ul {
  display: flex;
  list-style: none;
  gap: 11px;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
 
.custLogoList {
  margin-top: 15px;
  margin-bottom: -7px;
}
 
.custProdList {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  padding-top: 35px;
  background: #f4eeeb;
  padding-bottom: 17px;
}
 
.custProdBox {
  width: calc(50% - 30px);
  flex: 0 0 calc(50% - 30px);
  padding-bottom: 3px;
}
 
span.custBadge {
  position: absolute;
  left: 0;
  z-index: 1;
  top: 0;
  font-size: 10px;
  background: #fad950;
  border-top-left-radius: 6px;
  padding: 5px 8px;
  border-bottom-right-radius: 2px;
  line-height: 12px;
  font-weight: 500;
}
 
.custProdImage {
  position: relative;
}
 
.custProdTital h4 {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  color: #000;
  text-transform: uppercase;
}
 
.custProdTital {
  margin-top: 15px;
}
 
.custProdBox a {
  text-decoration: none;
}
 
.custProdTital h4 + p {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0;
  color: #000;
}
 
.custProdList h3 {
  text-align: center;
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
}
 
.custProdList h3 span {
  color: #1c32ff;
}
 
.custButtons {
  flex: 0 0 100%;
  width: 100%;
  text-align: center;
  padding: 0 15px;
  margin-top: 15px;
}
 
.custButtons a {
  padding: 12px 48px;

  height: 46px;
  background: #fad951;
  border-radius: 100px;
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  width: 100%;
  display: block;
  margin-bottom: 12px;
}
 
.custButtons p {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 450;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: #000000;
  margin-bottom: 0;
}
 
.custPartnersMainSp {
  background: #f4eeeb;
}
 
.custPartnersMainSp .swiper-slide {
  background: #fff;
  border-radius: 8px;
  padding: 16px 20px 16px 20px;
}
 
.custPartnersMainSp .custSliderControls {
  margin-top: 20px;
}
 
.custPartnersMainSp .swiper.custPartnerslider .custPartnerBox p {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px !important;
  line-height: 20px !important;
  text-align: center;
  letter-spacing: 0.06em;
  color: #000000;
  margin-bottom: 15px;
}
 
.custPartnersMainSp .swiper.custPartnerslider .custPartnerBox {
  margin: 0;
  max-width: 100%;
}
 
.custPromoBanner {
  padding-bottom: 30px;
  padding-left: 0px;
  padding-right: 0px;
  background: #f4eeeb;
  margin-top: 0;
}

.custProdImage img, .custPromoBanner img{
  width: 100%;
}

@media (max-width: 1199px) {
  .custPartnersMainSp .custSliderControls span.swiper-pagination-bullet {
    width: 20px;
  }
}

@media (max-width: 991px) {
  .custPartnersMainSp .custSliderControls {
    display: block;
  }
}

@media (max-width: 767px) {
  .custPartnersMainSp {
    padding-top: 5px;
  }
  .custPartnersMainSp .custSliderControls {
    width: 100%;
    height: 40%;
  }
  .custPartnersMainSp .custSliderControls span.swiper-pagination-bullet {
    width: 30px;
  }
  .custPartnersMainSp .custSliderControls [class*="swiper-button-"] {
    display: none;
  }
  .custPartnersMainSp .swiper.custPartnerslider {
    margin: 0;
    padding: 0 0 30px;
  }

  .custPartnersMainSp .swiper.custPartnerslider .custPartnerBox p {
    font-size: 19px;
  }
  .custPartnersMainSp .custGlobalReview {
    font-size: 28px;
    line-height: 33px;
  }
  .custPartnersMainSp .custGlobalReview {
    margin-top: 30px;
  }
}

@media (max-width: 575px) {
  .custPartnersMainSp .swiper.custPartnerslider .custPartnerBox {
    max-width: 260px;
    margin: auto;
  }
}