@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

body, html, h1, h2, h3, h4, h5, h6, p, span, b, {
    font-family: 'Inter', sans-serif;
}

.custTeoNailHeroBannerLpV1 {
    background-color: #fff;
    position: relative;
    z-index: 1;
    padding-top: 40px;
    padding-bottom: 40px;
}

.custToeNailSpeedUpHealingLpV1 .row {
    margin-bottom: 0px !important;
}

.custTeoNailHeroBannerLpV1 .col-md-6 {
    max-width: 100%;
    width: 50%;
}

.custBmLogoLpV1 img {
    filter: grayscale(1);
    transition: all 0.5s;
    cursor: pointer;
}

.custBmLogoLpV1:hover img {
    filter: none;
}

.custToeNailRatingWrapperLpV1 {
    display: flex;
    align-items: center;
    width: 100%;
}

.custToeNailRatingWrapperLpV1 p {
    margin: 0 0 0 8px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #292B2D;
    line-height: 32px;
    letter-spacing: -0.4px;
}

.custToeNailRatingWrapperLpV1 span.jdgm-star.jdgm--on {
    padding: 0 5px 0 0 !important;
    color: #E36018;
}

.custTeoNailHeroBannerLpV1 h1 {
    color: #001489;
    max-width: 503px;
    padding: 0;
    margin-top: 15px;
    margin-bottom: 16px;
    margin-left: 0;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: -0.4px;
}

.custTeoNailHeroBannerLpV1 h5 {
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: -0.32px;
    color: #292B2D;
    font-family: Helvetica, Helvetica Neue, Arial, Lucida Grande, sans-serif;
    padding: 0;
    max-width: 560px;
}

.custTeoNailHeroBannerLpV1 .custButtonWrapperLpV1 {
    text-align: left;
}

.custTeoNailHeroBannerLpV1 h5+p {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    max-width: 90%;
    margin-bottom: 10px;
}

.custBmLogosBlocksLpV1 {
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 40px 60px;
    align-items: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #292B2D;
}

.custButtonWrapperLpV1 {
    max-width: 260px;
    text-align: center;
}

.custButtonWrapperLpV1 span {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    color: #292B2D;
    margin-top: 12px;
    display: block;
}

.custReviewLpV1 {
    position: absolute;
    bottom: -20px;
    right: 0;
    max-width: 50%;
    padding: 16px;
    border-radius: 8px;
    background: #F8FFF8;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
}

.custTeoNailHeroBannerLpV1 .col-md-6:last-child {
    padding: 0;
}

.custReviewLpV1 p+div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.custBlueTextLpV1 {
    color: #001489;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-right: 16px;
}

.custReviewLpV1 p+div span {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    color: #E36018;
}

.custReviewLpV1 p+div span img {
    margin-right: 5px;
    display: block;
}

.custBlueStarLpV1 {
    text-align: right;
}

.custBlueStarLpV1 {
    display: block;
}

a.custBuyNowCTALpV1 {
    background: #E36018;
    border-radius: 1000px;
    color: #fff !important;
    padding: 16px 60px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
    margin-top: 27px;
    display: inline-block;
}

.custTeoNailHeroBannerLpV1 .container, .custToeNailPhysiciansDermatologistLpV1 .container, .custToeNailFormulatedLpV1 .container, .custToeNailSpeedUpHealingLpV1 .container, .custToeNailNatureInspiredLpV1 .container, .custToeNailCommHeadTagLpV1 .container, .custToeNailReviewsFromUserLpV1 .container {
    max-width: 1200px;
    padding: 0 20px;
    display: block;
}

.custToeNailPhysiciansDermatologistLpV1 h2,
.custToeNailFormulatedLpV1 h2,
.custToeNailSpeedUpHealingLpV1 h2,
.custToeNailNatureInspiredLpV1 h2,
.custToeNailCommHeadTagLpV1 h2 {
    margin: 40px 0 32px 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #000000;
    letter-spacing: -0.03em;
}

.custToeNailPhysiciansDermatologistLpV1 p, .custToeNailFormulatedLpV1 p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.03em;
    color: #000000;
    margin-bottom: 16px;
    padding-right: 10px;
}

.custToeNailPhysiciansDermatologistLpV1 ul, .custToeNailFormulatedLpV1 ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.custToeNailPhysiciansDermatologistLpV1 ul li, .custToeNailFormulatedLpV1 ul li {
    width: calc(25% - 8px);
    display: flex;
    align-items: center;
    flex: 0 0 25%;
    margin: 0 0 32px 0;
}

.custToeNailPhysiciansDermatologistLpV1 .custToeNailInfoDoctorLpV1 {
    background: #F2F7FA;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 24px;
    max-width: 540px;
    width: 100%;
    position: absolute;
    bottom: -31px;
    left: 40px;
}

.custToeNailPhysiciansDermatologistLpV1 .custToeNailInfoDoctorLpV1 p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.03em;
    color: #000000;
    margin-bottom: 10px;
}

.custToeNailPhysiciansDermatologistLpV1 .custToeNailInfoDoctorLpV1 span {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.03em;
    color: #292B2D;
}

.custTeoNailHeroBannerLpV1 .row {
    margin-bottom: 0;
}

.custToeNailPhysiciansDermatologistLpV1 {
    padding-top: 40px;
    padding-bottom: 100px;
    position: relative;
}

.custToeNailPhysiciansDermatologistLpV1 .col-md-6:first-child {
    width: 100%;
    max-width: 50%;
}

.custToeNailPhysiciansDermatologistLpV1 p b {
    font-weight: 700;
}

.custToeNailPhysiciansDermatologistLpV1 ul li span {
    width: 98px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.01em;
    color: #000000;
    margin-left: 8px;
}

.custToeNailPhysiciansDermatologistLpV1 .col-md-6:last-child {
    width: 48%;
    padding-left: 80px;
    position: relative;
}

.custToeNailPhysiciansDermatologistLpV1::after {
    background-image: url(https://growth-hit.s3.us-west-2.amazonaws.com/emuaid/dr._roopa_chari.png);
    content: '';
    display: block;
    width: 1331px;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    background-repeat: no-repeat;
    background-position: right 40px;
    transform: translateX(-50%);
    background-size: 575px auto;
    z-index: -1;
}

.custToeNailPhysiciansDermatologistLpV1 .container .col-md-6:last-child img, .page-shogun-default .shogun-root, .custToeNailFormulatedLpV1 .col-md-6:first-child img, .custToeNailSpeedUpHealingLpV1 .col-md-6:last-child img {
    display: none;
}

.custToeNailFormulatedLpV1::after {
    background-image: url(https://growth-hit.s3.us-west-2.amazonaws.com/emuaid/first-aid-for-your-toenails-mobile2.png);
    content: '';
    display: block;
    width: 1330px;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    background-repeat: no-repeat;
    background-position: 0 center;
    transform: translateX(-50%);
    background-size: auto 598px;
    z-index: -1;
}

.custToeNailFormulatedLpV1, .custToeNailSpeedUpHealingLpV1 {
    position: relative;
}

.custToeNailFormulatedLpV1 .col-md-6 {
    max-width: 50%;
    float: right;
    flex: 0 0 50%;
}

.custToeNailFormulatedLpV1 .row {
    justify-content: space-between;
}

.custToeNailFormulatedLpV1 h2 small,
.custToeNailSpeedUpHealingLpV1 h2 small,
.custToeNailNatureInspiredLpV1 h2 small,
.custToeNailCommHeadTagLpV1 h2 small {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.03em;
    color: #4C4C4C;
    display: block;
}

.custToeNailSpeedUpHealingLpV1 h2 small,
.custToeNailFormulatedLpV1 h2 small,
.custToeNailFormulatedLpV1 p {
    font-weight: 400;
}

.custToeNailReviewsFromUserLpV1.custToeNailCommHeadTagLpV1 h2 {
    margin-bottom: 10px;
}

.custToeNailFormulatedLpV1 h2 {
    margin-bottom: 16px;
    margin-top: 60px;
}

.custToeNailFormulatedLpV1 ul li {
    flex: 100%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #292B2D;
    margin-bottom: 16px;
}

.custToeNailFormulatedLpV1 ul li span {
    margin-left: 16px;
}

.custToeNailFormulatedLpV1 ul li:last-child {
    margin-bottom: 0;
}

.custToeNailFormulatedLpV1 .col-md-6:last-child {
    padding-left: 60px;
}

.custToeNailProductsLpV1 a.custBuyNowCTALpV1 {
    margin-bottom: 8px;
    margin-top: 0;
}

.custToeNailPhysiciansDermatologistLpV1 ul {
    margin-top: 32px;
}

.custToeNailKillsFungusLpV1 ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 60px 0 40px 0;
}

.custToeNailKillsFungusLpV1 ul li {
    display: flex;
    align-items: center;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #292B2D;
}

.custToeNailKillsFungusLpV1 ul li img {
    margin-right: 8px;
}

.custToeNailKillsFungusLpV1 {
    padding: 0 40px;
    max-width: 1410px;
    margin: 0 auto;
}

.custToeNailSpeedUpHealingLpV1 h4 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.03em;
    color: #000000;
    margin: 0 0 4px 0;
    padding: 0;
}

.custToeNailSpeedUpHealingLpV1 p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #292B2D;
    letter-spacing: -0.03em;
}

.custToeNailSpeedUpHealingLpV1 .col-md-6 {
    width: 100%;
    max-width: 50%;
}

.custToeNailSpeedUpHealingLpV1 ul {
    padding: 0;
    margin: 34px 0 0 0;
    list-style: none;
}

.custToeNailSpeedUpHealingLpV1 ul li {
    display: flex;
    flex: 0 0 100%;
    flex-wrap: wrap;
    position: relative;
    counter-increment: my-sec-counter;
}

.custToeNailSpeedUpHealingLpV1 ul li::before {
    content: ""counter(my-sec-counter) "";
    width: 32px;
    height: 32px;
    background: #fff;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 4px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.custToeNailSpeedUpHealingLpV1 {
    background-color: #F2F7FA;
    z-index: 1;
    padding: 80px 0;
}

.custToeNailSpeedUpHealingLpV1 ul li span {
    width: calc(100% - 50px);
    margin-left: 16px;
}

.custToeNailSpeedUpHealingLpV1:after {
    background-image: url(https://growth-hit.s3.us-west-2.amazonaws.com/emuaid/speed_up_healing.jpg);
    content: '';
    display: block;
    width: 1330px;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    background-repeat: no-repeat;
    background-position: right center;
    transform: translateX(-50%);
    background-size: 610px auto;
    z-index: -1;
}

.custToeNailSpeedUpHealingLpV1 a.custBuyNowCTALpV1 {
    margin-top: 10px;
    margin-bottom: 0;
}

.custToeNailNatureInspiredLpV1 ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.custToeNailNatureInspiredLpV1 {
    background: #f2f7fa;
    padding: 40px 0;
}

.custToeNailNatureInspiredLpV1 h2 {
    margin-top: 0;
}

.custToeNailNatureInspiredLpV1 h2 small {
    max-width: 70%;
    line-height: 28px;
    margin-top: 12px;
}

.custToeNailNatureInspiredLpV1 ul li {
    flex: 0 0 16.66%;
    max-width: calc(16.66% - 14px);
    margin-right: 16px;
    background: #fff;
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 0;
}

.custToeNailNatureInspiredLpV1 ul li:last-child {
    margin: 0;
}

.custToeNailNatureInspiredLpV1 ul li img {
    width: 100% !important;
}

.custToeNailNatureInspiredLpV1 ul li:first-child {
    border: 1px solid #C4222E;
}

.custToeNailClinicallyTestedLpV1 h4 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #000000;
    margin: 0;
    padding: 0;
}

.custToeNailClinicallyTestedLpV1 p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #717171;
    margin: 5px 0;
}

.custToeNailClinicallyTestedLpV1 span {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #C4222E;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
}

.custToeNailIngredientsLpV1 a {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #717171;
    position: relative;
    transition: all 0.5s;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.custToeNailIngredientsLpV1 a::before {
    content: "";
    width: 100%;
    height: 2px;
    display: block;
    background: #717171;
    position: absolute;
    border: 0;
    top: 100%;
}

.custToeNailClinicallyTestedLpV1 {
    padding: 12px;
    position: relative;
    width: 100%;
    padding-bottom: 30px;
}

.custToeNailFirstAidOintmentLpV1 {
    width: 100%;
    display: flex;
    background: #F2F7FA;
    padding: 40px;
    border-radius: 16px;
    flex-wrap: wrap;
}

.custToeNailProductsLpV1 {
    flex: 0 0 33.33%;
    max-width: calc(33.33% - 16px);
    background: #FFFFFF;
    border-radius: 10px;
    margin-right: 24px;
    text-align: center;
    padding: 24px 15px;
}

.custToeNailProductsLpV1:last-child {
    margin-right: 0;
}

.custToeNailProductsLpV1 h5 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #001489;
}

.custToeNailProductsLpV1 span.jdgm-prev-badge__stars * {
    color: #000;
}

.custToeNailProductsLpV1 span.customNumberRatingLpV1 {
    margin-left: 7px;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -0.03em;
    color: #001489;
    font-family: 'Inter', sans-serif;
}

.customRatingsStarLpV1 .jdgm-star.jdgm--on:before {
    content: '';
    background-image: url(https://growth-hit.s3.us-west-2.amazonaws.com/emuaid/rating-star-full.svg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    display: block;
    background-position: center;
}

.custToeNailProductsLpV1 span.jdgm-prev-badge__stars span:last-child:before {
    background-image: url(https://growth-hit.s3.us-west-2.amazonaws.com/emuaid/rating-star-half.svg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    content: '' !important;
    background-position: center;
}

.custToeNailProductsLpV1 span.jdgm-prev-badge__stars span {
    width: 21px;
    display: flex !important;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
    background-repeat: no-repeat;
    height: 20px;
}

.customRatingsStarLpV1 span.jdgm-prev-badge__stars {
    display: flex;
    justify-content: center;
}

.customRatingsStarLpV1 {
    display: flex;
    align-items: center;
    justify-content: center;
}


.customRatingsStarLpV1 span.jdgm-prev-badge__text {
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    color: #001489;
    margin-left: 4px;
}

.customRatingsStarLpV1 img {
    height: 16px;
    width: auto !important;
}

.customProductPriceLpV1 {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.03em;
    color: #001489;
    margin: 15px 0;
    font-family: 'Inter', sans-serif;
}

.custToeNailIngredientsLpV1 {
    margin-top: 40px;
}

.custToeNailProductsLpV1 img {
    width: 100%;
    max-width: 240px;
}

.custToeNailButtonWrapLpV1 a.custBuyNowCTALpV1 {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    font-weight: 600;
}

.custToeNailButtonWrapLpV1 a.custBuyNowCTALpV1 {
    margin: 0 0;
}

.custToeNailCommHeadTagLpV1 h2 small {
    margin-top: 12px;
    line-height: 28px;
}

.custToeNailMoneyBackGuaranteeTextLpV1 {
    background: #F2F7FA;
    border-radius: 16px;
    padding-left: 120px;
    padding-right: 120px;
    flex-wrap: nowrap !important;
    align-items: center;
    margin-bottom: 40px !important;
}

.custToeNailMoneyBackGuaranteeTextLpV1 div {
    margin-left: 30px;
}

.custToeNailMoneyBackGuaranteeTextLpV1 h2 {
    margin: 0 0 14px 0;
}

.custToeNailMoneyBackGuaranteeTextLpV1 p:last-child {
    margin-bottom: 0;
}

.row.custToeNailMoneyBackGuaranteeTextLpV1 p {
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #000;
    font-family: 'Inter', sans-serif;
}

.custTeoNailHeroBannerLpV1 a.custBuyNowCTALpV1 {
    margin-bottom: 0;
    text-transform: uppercase;
}

.custToeNailIngredientsLpV1 a::after {
    content: "+";
}

.custToeNailDropdownIngredientsLpV1 {
    height: 0;
    overflow: hidden;
    transition: all 0.5s;
    margin-top: 14px;
}

a.custToeNailActiveIngredientLpV1+.custToeNailDropdownIngredientsLpV1 {
    height: auto;
}

a.custToeNailActiveIngredientLpV1:after {
    content: "-";
}

.custToeNailReviewsFromUserLpV1 {
    overflow-x: hidden;
    padding-top: 40px;
}

.custToeNailReviewsFromUserLpV1 .swiper {
    width: 100%;
    height: 100%;
    padding-bottom: 60px;
}

.custToeNailReviewsFromUserLpV1 .swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    background: #F2F7FA;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    min-height: 270px;
    align-items: baseline;
    margin-top: 30px;
}

.custToeNailReviewsFromUserLpV1 main {
    margin-right: -15%;
    margin-left: -15%;
}

.custComparisonCarouselLpV1 {
    margin-right: -10%;
    margin-left: -10%;
}

div#swiper-wrapper-a710b88f3b536746f {}

.custToeNailInstitutionTestimonialsLpV1 {
    text-align: left;
    padding: 24px 24px;
}

.custToeNailStarsRatingsLpV1 * {
    color: #0069BC !important;
}

.custToeNailInstitutionTestimonialsLpV1 p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #292B2D;
    letter-spacing: -0.02em;
    margin-top: 16px;
    font-family: 'Inter', sans-serif;
}

.custToeNailInstitutionTestimonialsLpV1 .author {
    position: absolute;
    bottom: 15px;
}

.custToeNailInstitutionTestimonialsLpV1 .author span {
    color: #717171;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    margin-left: 16px;
    display: flex;
    align-items: center;
    font-family: Helvetica, Helvetica Neue, Arial, Lucida Grande, sans-serif;
}

.custToeNailInstitutionTestimonialsLpV1 .author span img {
    margin-right: 4px;
}

.custToeNailInstitutionTestimonialsLpV1 .author cite {
    display: flex;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #000;
    font-family: Helvetica, Helvetica Neue, Arial, Lucida Grande, sans-serif;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    opacity: 0.3;
}

.swiper-pagination-bullet-active {
    background: #323232 !important;
    opacity: 1 !important;
}

.swiper-pagination {
    margin-top: 50px;
    position: relative !important;
}

.custToeNailFormulatedLpV1 p {
    font-weight: 500;
}

.shg-c.custToeNailDisclaimerLpV1 .container {
    max-width: 1170px;
    padding: 0 15px;
}

.shg-c.custToeNailDisclaimerLpV1 {
    padding: 0 0 40px 0;
}

.shg-c.custToeNailDisclaimerLpV1 p {
    font-size: 18px;
    line-height: 1.5;
}

.custBtnScrollTeoNailLpV1 {
    cursor: pointer;
}

.custTextWrapperBlocks {
    display: flex;
    align-items: center;
}

.custTeoNailHeroBannerLpV1 .col-md-6 video {
    width: 100%;
    right: -56px;
    position: relative;
    border-radius: 8px;
}
.custToeNailProductsLpV1 .custBuyNowCTALpV1 {
    width: 100%;
    max-width: 336px;
}
@media(min-width: 1366px) {
    .custBmLogoSection+.custToeNailCommHeadTagLpV1 h2 {
        text-align: center;
        width: 100%;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        margin-bottom: 24px;
    }
}

/* media */
@media(max-width: 1199px) {
    .custToeNailSpeedUpHealingLpV1 h2 {
        margin-top: 0;
    }

    .custToeNailNatureInspiredLpV1 ul li {
        max-width: calc(25% - 16px);
        flex: 0 0 25%;
        margin-bottom: 15px;
    }

    .custToeNailNatureInspiredLpV1 ul {}

    .custToeNailFormulatedLpV1::after {
        width: 100%;
        background-size: contain;
        max-width: 50%;
        left: 0;
        transform: none;
    }

    .custToeNailPhysiciansDermatologistLpV1 ul li {
        width: calc(33.33% - 8px);
        flex: 0 0 33.33%;
    }

    .custToeNailPhysiciansDermatologistLpV1::after, .custToeNailSpeedUpHealingLpV1:after {
        width: 100%;
        background-size: contain;
        max-width: 50%;
        transform: none;
        right: 0;
        background-position: center;
    }

    .custToeNailPhysiciansDermatologistLpV1 {
        padding-bottom: 20px;
    }

    a.custBuyNowCTALpV1 {
        margin-bottom: 0;
    }

    .custToeNailProductsLpV1 div.custSpace {
        padding: 0;
    }

    .custToeNailPhysiciansDermatologistLpV1 h2, .custToeNailFormulatedLpV1 h2, .custToeNailSpeedUpHealingLpV1 h2, .custToeNailNatureInspiredLpV1 h2, .custToeNailCommHeadTagLpV1 h2 {
        font-size: 24px;
        line-height: 32px;
    }

    .row.custToeNailMoneyBackGuaranteeTextLpV1 {
        padding: 0 20px;
    }

    .row.custToeNailMoneyBackGuaranteeTextLpV1 p {
        font-size: 16px;
        line-height: 1.4;
    }

    .custBmLogosBlocksLpV1 {
        gap: 15px;
        padding: 40px 30px;
    }

    .custTeoNailHeroBannerLpV1 h5, .custTeoNailHeroBannerLpV1 h5+p {
        max-width: 75%;
    }

    .custToeNailFirstAidOintmentLpV1 a.custBuyNowCTALpV1 {
        padding-left: 30px;
        padding-right: 30px;
        width: 100%;
    }

    .custToeNailProductsLpV1 img {
        max-width: 150px;

    }
}

@media(max-width: 991px) {
    .custTeoNailHeroBannerLpV1 {
        margin-top: 60px;
        background-size: 60%;
        padding: 30px 0;
    }

    .custTeoNailHeroBannerLpV1 h1 {
        font-size: 32px;
        line-height: 40px;
    }

    .custToeNailRatingWrapperLpV1 p {
        font-size: 16px;
        line-height: 24px;
    }

    .custTeoNailHeroBannerLpV1 ul li {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
    }

    .custTeoNailHeroBannerLpV1 a.custBuyNowCTALpV1 {
        font-size: 20px;
        line-height: 24px;
        order: 3;
        margin-top: 0;
        margin-bottom: 0;
    }

    .custTeoNailHeroBannerLpV1 .col-md-6 {
        max-width: 100%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
}



@media(max-width: 860px) {
    .custToeNailProductsLpV1 {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 15px;
    }

    .custToeNailFirstAidOintmentLpV1 {
        padding: 15px;
    }

    .custToeNailProductsLpV1:last-child {
        margin-bottom: 0;
    }

    .custToeNailCommHeadTagLpV1 {
        padding: 0 15px;
    }

    .custReviewLpV1 {
        position: static;
        max-width: 100%;
        margin-top: 30px;
    }

    .custBmLogosBlocksLpV1 {
        overflow: scroll;
        padding-bottom: 10px;
        justify-content: flex-start;
        padding-top: 10px;
        position: relative;
        gap: 16px;
    }

    .custBmLogosBlocksLpV1 .custBmTextLpV1 {
        display: none;
    }

    .custBmLogoLpV1 {
        flex: 0 0 120px;
    }

    .custBmLogoSectionLpV1::after {
        content: "As Seen In";
        position: absolute;
        top: 10px;
        width: 100%;
        text-align: center;
        padding-top: 12px;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .custBmLogoSectionLpV1 {
        position: relative;
        padding-top: 50px;
    }

    .custTeoNailHeroBannerLpV1 .col-md-6 video {
        margin-top: 20px;
        right: 0;
    }
}

@media(max-width: 767px) {
    .custTeoNailHeroBannerLpV1 {
        background-image: none;
        padding: 30px 15px 0 15px;
        background-color: #ffffff;
    }

    .custTeoNailHeroBannerLpV1 h1 {
        max-width: 300px;
    }

    .custTeoNailHeroBannerLpV1 .container, .custToeNailPhysiciansDermatologistLpV1 .container, .custToeNailFormulatedLpV1 .container, .custToeNailCommHeadTagLpV1 .container {
        padding: 0 0;
    }

    .custTeoNailHeroBannerLpV1 .col-md-6:first-child img {
        width: 100%;
    }

    .custTeoNailHeroBannerLpV1 ul li {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 6px;
    }

    .custTeoNailHeroBannerLpV1 a.custBuyNowCTALpV1 {
        margin-bottom: 24px;
    }

    /*new*/
    .custToeNailPhysiciansDermatologistLpV1::after, .custToeNailSpeedUpHealingLpV1:after, .custToeNailFormulatedLpV1::after {
        display: none;
    }

    .custToeNailPhysiciansDermatologistLpV1 .col-md-6:first-child, .custToeNailFormulatedLpV1 .col-md-6:last-child, .custToeNailSpeedUpHealingLpV1 .col-md-6 {
        max-width: 100%;
        padding: 0 15px;
        order: 2;
    }

    .custToeNailPhysiciansDermatologistLpV1 .col-md-6:last-child, .custToeNailFormulatedLpV1 .col-md-6, .custToeNailSpeedUpHealingLpV1 .col-md-6:last-child {
        max-width: 100%;
        width: 100%;
        padding: 0;
        order: 1;
        margin-bottom: 0;
        flex: 0 0 100%;
    }

    .custToeNailSpeedUpHealingLpV1 .col-md-6:last-child {
        margin-bottom: 30px;
    }

    .custToeNailPhysiciansDermatologistLpV1 .container .col-md-6:last-child img, .custToeNailFormulatedLpV1 .col-md-6:first-child img, .custToeNailSpeedUpHealingLpV1 .col-md-6:last-child img {
        display: block;
        width: 100%;
    }

    .custToeNailPhysiciansDermatologistLpV1 h2, .custToeNailFormulatedLpV1 h2, .custToeNailSpeedUpHealingLpV1 h2, .custToeNailNatureInspiredLpV1 h2 {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 10px;
        margin-top: 0;
    }

    .custToeNailPhysiciansDermatologistLpV1 p, .custToeNailFormulatedLpV1 p {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
    }

    .custToeNailPhysiciansDermatologistLpV1 ul li {
        width: calc(50% - 8px);
        flex: 0 0 50%;
        margin-bottom: 15px;
    }

    .custToeNailFormulatedLpV1 .col-md-6 {
        margin-bottom: 30px;
    }

    .custToeNailFormulatedLpV1 h2 small,
    .custToeNailSpeedUpHealingLpV1 h2 small,
    .custToeNailNatureInspiredLpV1 h2 small,
    .custToeNailCommHeadTagLpV1 h2 small {
        font-size: 18px;
        max-width: 100%;
        line-height: 24px;
    }

    .custToeNailFormulatedLpV1 ul {
        margin-bottom: 20px;
    }

    .custToeNailKillsFungusLpV1 ul {
        margin-top: 0;
        flex-wrap: wrap;
        margin-bottom: 30px;
    }

    .custToeNailFormulatedLpV1 .col-md-6:last-child {
        margin-bottom: 0;
    }

    .custToeNailKillsFungusLpV1 ul li {
        width: 100%;
        margin: 8px 0;
        font-size: 14px;
    }

    .custToeNailKillsFungusLpV1 {
        padding: 0 15px;
    }

    .custToeNailSpeedUpHealingLpV1 {
        padding: 0;
    }

    .custToeNailSpeedUpHealingLpV1 .container {
        padding: 0;
    }

    .custToeNailSpeedUpHealingLpV1 ul {
        margin-top: 24px;
    }

    .custToeNailSpeedUpHealingLpV1 h4 {
        font-size: 18px;
    }

    .custToeNailSpeedUpHealingLpV1 p {
        font-weight: 500;
        font-size: 16px;
    }

    .custToeNailSpeedUpHealingLpV1 a.custBuyNowCTALpV1 {
        margin-bottom: 30px;
        width: 100%;
        text-align: center;
    }

    .custToeNailNatureInspiredLpV1 ul {
        margin-top: 24px;
    }

    .custToeNailNatureInspiredLpV1 ul li {
        max-width: 100%;
        flex: 0 0 100%;
        margin-bottom: 10px;
        display: flex;
    }

    .custToeNailNatureInspiredLpV1 ul li img {
        width: 100px;
    }

    .custToeNailIngredientsLpV1 {
        margin-top: 24px;
    }

    .custToeNailIngredientsLpV1 a {
        font-size: 18px;
        line-height: 20px;
    }

    .custToeNailNatureInspiredLpV1 {
        padding: 30px 0;
    }

    .custToeNailPhysiciansDermatologistLpV1 .custToeNailInfoDoctorLpV1 p {
        font-size: 18px;
        line-height: 24px;
    }

    .custToeNailPhysiciansDermatologistLpV1 .custToeNailInfoDoctorLpV1 {
        max-width: calc(100% - 30px);
        left: 15px;
        bottom: -85px;
        padding: 8px 15px;
    }

    .custToeNailPhysiciansDermatologistLpV1 .col-md-6:last-child {
        margin-bottom: 115px;
    }

    .custToeNailMoneyBackGuaranteeTextLpV1 div {
        margin: 0;
    }

    .custToeNailMoneyBackGuaranteeTextLpV1 {
        flex-wrap: wrap !important;
        justify-content: center;
        padding: 15px !important;
        margin-top: 60px;
        margin-bottom: 30px;
    }

    .custToeNailClinicallyTestedLpV1 p {
        font-size: 14px;
        line-height: 18px;
    }

    .custToeNailProdImageWrapperLpV1 img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    .custToeNailPhysiciansDermatologistLpV1 {
        padding-top: 0;
        padding-bottom: 0;
    }

    .custToeNailFormulatedLpV1 h2 small b, .custToeNailSpeedUpHealingLpV1 h2 small b, .custToeNailNatureInspiredLpV1 h2 small b {
        font-weight: 600;
    }

    .custToeNailClinicallyTestedLpV1 span {
        position: relative;
        top: 0;
        right: 0;
        left: 0;
        font-size: 13px;
        padding: 0;
        line-height: normal;
        display: block;
    }

    .custToeNailReviewsFromUserLpV1 main {
        margin: 0 0;
    }

    .custToeNailReviewsFromUserLpV1 .swiper-slide {
        min-height: auto;
    }

    .custToeNailFormulatedLpV1 ul li {
        align-items: self-start;
    }

    .custToeNailFormulatedLpV1 ul li span {
        font-size: 14px;
        line-height: 20px;
    }

    .custToeNailReviewsFromUserLpV1 .swiper {
        padding-bottom: 20px;
    }

    .custToeNailInstitutionTestimonialsLpV1 .author {
        position: relative;
        margin-top: 15px;
        bottom: 0;
    }

    .custToeNailProdImageWrapperLpV1 {
        max-width: 100px;
    }

    .custToeNailClinicallyTestedLpV1 {
        width: calc(100% - 100px);
    }

    .custTeoNailHeroBannerLpV1 h5, .custTeoNailHeroBannerLpV1 h5+p {
        max-width: 100%;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }

    .custTeoNailHeroBannerLpV1 h5 {
        font-size: 25px;
        font-style: normal;
        line-height: 32px;
    }

    .custButtonWrapperLpV1 {
        max-width: 100%;
        width: 100%;
        margin-top: 24px;
    }

    .custButtonWrapperLpV1 a.custBuyNowCTALpV1.custBtnScrollTeoNailLpV1 {
        width: 100%;
        margin-bottom: 12px !important;
    }

    .custButtonWrapperLpV1 span {
        margin-top: 10px;
    }

    .custTeoNailHeroBannerLpV1 .col-md-6:nth-child(2) {
        background: #F2F7FA;
        max-width: calc(100% + 30px);
        flex: 0 0 calc(100% + 30px);
        margin-left: -15px;
        padding: 15px;
        margin-top: 20px;
    }

    .custReviewLpV1 {
        padding: 10px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: -30px;
        margin-top: 0;
        z-index: 9;
        order: 1;
    }

    .custTeoNailHeroBannerLpV1 .col-md-6 video {
        order: 2;
    }

    .custReviewLpV1 p {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        margin-bottom: 12px;
    }

    .custToeNailProductsLpV1 img {
        max-width: 230px;

    }

    .custBlueTextLpV1 {
        margin-right: 10px;
    }

    .custTeoNailHeroBannerLpV1 .custButtonWrapperLpV1 {
        text-align: center;
        margin-top: 15px;
    }

    .custBmText {
        white-space: pre;
    }

    .custBmLogosBlocksLpV1 {
        padding-left: 10px;
    }
    .shg-c.custToeNailDisclaimerLpV1 p {
        font-size: 14px;
        line-height: 24px;
    }
}

@media screen and (max-width: 767px) and (min-width: 375px) {
    .custToeNailClinicallyTestedLpV1 h4 {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media(max-width: 360px) {
    .custToeNailClinicallyTestedLpV1 h4 {
        font-size: 14px;
    }

    .custToeNailProdImageWrapperLpV1 {
        width: 80px;
    }

    .custToeNailClinicallyTestedLpV1 {
        width: calc(100% - 80px);
    }

    .custBlueStarLpV1 img {
        width: 61px;
        height: auto;
    }

    .custReviewLpV1 p+div span, .custBlueTextLpV1 {
        font-size: 12px;
    }
}