.custVideoText .custVideo {
    height: auto;
    width: 100%;
    right: -66px;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}

.custVideoText video {
    width: 100%;
    right: -66px;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    height: auto;
}

.custVideoText {
    background: none !important;
    padding: 0 !important;
    position: relative !important;
}

.custVideoText .custReviewLpV2 {
    position: absolute;
    bottom: 20px;
    left: 0;
    padding: 16px;
    border-radius: 8px;
    background: #F8FFF8;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
    width: calc(100% + 20px);
}

.custVideoText .custReviewLpV2 p+div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.custVideoText .custBlueTextLpV2 {
    color: #001489;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-right: 16px;
}

.custVideoText .custReviewLpV2 p+div span {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    color: #E36018;
}

.custVideoText .custReviewLpV2 p+div span img {
    margin-right: 5px;
    display: block;
}

.custVideoText .custBlueStarLpV2 {
    text-align: right;
}

.custVideoText .custBlueStarLpV2 {
    display: block;
}

.custVideoText .custTextWrapperBlocksLpV2 {
    display: flex;
    align-items: center;
}

.custVideoText .bm_reviewcontent {
    display: none;
}


.bm_heroinner_content .bm_leftbox_content p.bm_hero_pera {
    margin-bottom: 0;
}

/*commen*/
.tf-hero-wrapper {
    background-image: none !important;
    background-color: #ffffff !important;
} 
.custProductClick .bm-productcta a.bm-cta::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.custProductClick .bm-productcta a.bm-cta {
    position: static;
}

.custProductClick .bm-product-content {
    position: relative;
}
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) and (hover: none) and (orientation: landscape) {

    .custMainLpV2 .shg-box {
        padding: 0 !important;
    }

}

@media(max-width: 1199px) {

    /*ipad*/
    div#s-65363abe-ba39-4d84-a28d-a4b61d288083 {
        padding: 0;
    }

    .custVideoText video {
        right: 0 !important;
    }

    .custVideoText .custReviewLpV2 {
        width: 90%;
        bottom: 70px;
    }

    .bm_herocontent.bm_container.bm-testemud017 {
        padding-bottom: 0;
    }

    .custVideoText .custReviewLpV2 {
        width: calc(100% - 20px);
        margin: 0 auto;
        left: 0;
        right: 0;
    }
}

@media(max-width: 767px) {
    .custVideoText .custReviewLpV2 {
        position: static;
        order: 1;
        margin-bottom: -40px;
        z-index: 1;
        margin-left: auto;
        margin-right: auto;
    }

    .bm_rightbox_content.custVideoText {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        margin-top: 20px;
        padding: 0 15px !important;
        height: auto !important;
    }

    .custVideoText video {
        flex: 0 0 auto !important;
    }

    .custMainLpV2 {
        padding-top: 30px !important;
    }

    .custVideoText .custReviewLpV2 {
        width: calc(100% - 20px);
    }

    .bm_rightbox_content.custVideoText p {
        font-size: 15px;
        line-height: 24px;
    }

    .custVideoText .custReviewLpV2 p+div span {
        font-size: 11px;
    }

    .custVideoText .custReviewLpV2 {
        padding: 12px;
    }

    .custVideoText .custBlueTextLpV2 {
        margin-right: 8px;
    }
}

@media(max-width: 356px) {
    .custMainLpV2 {
        padding-top: 60px !important;
    }
}

@media(max-width: 374px) {
    .custVideoText .custReviewLpV2 p+div {
        flex-direction: column;
    }
}